.demo-cube {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  z-index: 2;
}
.demo-cube .cube-inner {
  z-index: 1;
  display: block;
  position: absolute;
  top: 42%;
  left: 61%;
  margin: -15px 0 0 -35px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 38.5px 38.5px;
  -ms-transform-origin: 38.5px 38.5px;
      transform-origin: 38.5px 38.5px;
  -webkit-transform: rotateX(-33.5deg) rotateY(40deg);
  transform: rotateX(-33.5deg) rotateY(40deg);
          animation: fastspin 6s infinite linear;
  -webkit-animation: fastspin 6s infinite linear;
}
.demo-cube .cube-inner li {
  position: absolute;
  display: block;
  width: 77px;
  height: 77px;
  background: #092527;
}
.demo-cube .cube-inner li::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #93dfcc;
}
.demo-cube .cube-inner .top {
  -webkit-transform: rotateX(90deg) translateZ(38.5px);
  transform: rotateX(90deg) translateZ(38.5px);
}
.demo-cube .cube-inner .bottom {
  -webkit-transform: rotateX(-90deg) translateZ(38.5px);
  transform: rotateX(-90deg) translateZ(38.5px);
}
.demo-cube .cube-inner .front {
  -webkit-transform: translateZ(38.5px);
  transform: translateZ(38.5px);
}
.demo-cube .cube-inner .back {
  -webkit-transform: rotateX(-180deg) translateZ(38.5px);
  transform: rotateX(-180deg) translateZ(38.5px);
}
.demo-cube .cube-inner .left {
  -webkit-transform: rotateY(-90deg) translateZ(38.5px);
  transform: rotateY(-90deg) translateZ(38.5px);
}
.demo-cube .cube-inner .right {
  -webkit-transform: rotateY(90deg) translateZ(38.5px);
  transform: rotateY(90deg) translateZ(38.5px);
}
.cube-inner .right img{
    -webkit-transform: rotate(22deg);
        -ms-transform: rotate(22deg);
            transform: rotate(22deg);
}
.cube-inner .back img{
    -webkit-transform: rotate(170deg);
        -ms-transform: rotate(170deg);
            transform: rotate(170deg);
}
.demo-cube .cube {
  display: block;
  position: absolute;
  top: 38%;
  left: 59%;
  margin: -50px 0 0 -50px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 85px 85px;
      -ms-transform-origin: 85px 85px;
          transform-origin: 85px 85px;
  -webkit-transform: rotateX(-31.5deg) rotateY(50deg);
   transform: rotateX(-31.5deg) rotateY(50deg); 
   -webkit-animation: slowspin 6s infinite linear;
           animation: slowspin 6s infinite linear;
}
.demo-cube .cube li {
  position: absolute;
  display: block;
  width: 170px;
  height: 170px;
  background: -webkit-radial-gradient(transparent 30%, rgba(5, 17, 53, 0.2) 100%);
  background: -o-radial-gradient(transparent 30%, rgba(5, 17, 53, 0.2) 100%);
  background: radial-gradient(transparent 30%, rgba(5, 17, 53, 0.2) 100%);
}
.demo-cube .cube li::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #3fe8d2;
}
.demo-cube .cube .top {
  -webkit-transform: rotateX(90deg) translateZ(85px);
  transform: rotateX(90deg) translateZ(85px);
  background: rgba(48, 111, 98, .3);
}
.demo-cube .cube .bottom {
  -webkit-transform: rotateX(-90deg) translateZ(85px);
  transform: rotateX(-90deg) translateZ(85px);
}
.demo-cube .cube .front {
  -webkit-transform: translateZ(85px);
  transform: translateZ(85px);
}
.demo-cube .cube .back {
  -webkit-transform: rotateX(-180deg) translateZ(85px);
  transform: rotateX(-180deg) translateZ(85px);
}
.demo-cube .cube .left {
  -webkit-transform: rotateY(-90deg) translateZ(85px);
  transform: rotateY(-90deg) translateZ(85px);
}
.demo-cube .cube .right {
  -webkit-transform: rotateY(90deg) translateZ(85px);
  transform: rotateY(90deg) translateZ(85px);
}
@-webkit-keyframes fastspin {
  from {
    -webkit-transform: rotateX(-33.5deg) rotateY(40deg);
            transform: rotateX(-33.5deg) rotateY(40deg);
  }
  to {
    -webkit-transform: rotateX(-33.5deg) rotateY(400deg);
    transform: rotateX(-33.5deg) rotateY(400deg);
  }
}
@keyframes fastspin {
  from {
    -webkit-transform: rotateX(-33.5deg) rotateY(40deg);
            transform: rotateX(-33.5deg) rotateY(40deg);
  }
  to {
    -webkit-transform: rotateX(-33.5deg) rotateY(400deg);
    transform: rotateX(-33.5deg) rotateY(400deg);
  }
}
@-webkit-keyframes slowspin {
  from {
    -webkit-transform:  rotateX(-31.5deg) rotateY(50deg);
            transform:  rotateX(-31.5deg) rotateY(50deg); 
  }
  to {
    -webkit-transform:  rotateX(-31.5deg) rotateY(410deg);
            transform:  rotateX(-31.5deg) rotateY(410deg); 
  }
}
@keyframes slowspin {
  from {
    -webkit-transform:  rotateX(-31.5deg) rotateY(50deg);
            transform:  rotateX(-31.5deg) rotateY(50deg); 
  }
  to {
    -webkit-transform:  rotateX(-31.5deg) rotateY(410deg);
            transform:  rotateX(-31.5deg) rotateY(410deg); 
  }
}
@media screen and (min-width: 641px){
    .cube-inner .cube_cont img{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -10px;
        margin-left: -18px;
    }
    .cube-inner .left img{
        margin-left: -6px;
    }
    .cube-inner .front img{
        margin-top: -17px;
    }
    .cube-inner .cube_cont{
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -25px;
        margin-top: -25px;
        border: 1px dotted #52938a;
    }
    .cube-inner .back img{
        margin-top: -14px !important;
        margin-left: -10px !important;
    }
}
@media screen and (max-width: 1200px){
    .demo-cube .cube-inner{
        top: 44%;
        left: 61%;
        -webkit-transform-origin: 32.5px 32.5px;
            -ms-transform-origin: 32.5px 32.5px;
                transform-origin: 32.5px 32.5px;
    }
    .demo-cube .cube-inner li{
        width: 65px;
        height: 65px;
    }
    .demo-cube .cube{
        top: 42%;
        left: 60%;
        -webkit-transform-origin: 60px 60px;
            -ms-transform-origin: 60px 60px;
                transform-origin: 60px 60px;
    }
    .demo-cube .cube li{
        width: 120px;
        height: 120px;
    }
    .demo-cube .cube-inner .top{
        -webkit-transform: rotateX(90deg) translateZ(32.5px);
                transform: rotateX(90deg) translateZ(32.5px);
    }
    .demo-cube .cube-inner .bottom{
        -webkit-transform: rotateX(-90deg) translateZ(32.5px);
                transform: rotateX(-90deg) translateZ(32.5px);
    }
    .demo-cube .cube-inner .front{
        -webkit-transform: translateZ(32.5px);
                transform: translateZ(32.5px);
    }
    .demo-cube .cube-inner .back{
        -webkit-transform: rotateX(-180deg) translateZ(32.5px);
                transform: rotateX(-180deg) translateZ(32.5px);
    }
    .demo-cube .cube-inner .right{
        -webkit-transform: rotateY(90deg) translateZ(32.5px);
                transform: rotateY(90deg) translateZ(32.5px);
    }
    .demo-cube .cube-inner .left{
        -webkit-transform: rotateY(-90deg) translateZ(32.5px);
                transform: rotateY(-90deg) translateZ(32.5px);
    }
    .demo-cube .cube .top{
        -webkit-transform: rotateX(90deg) translateZ(60px);
                transform: rotateX(90deg) translateZ(60px);
    }
    .demo-cube .cube .bottom {
        -webkit-transform: rotateX(-90deg) translateZ(60px);
                transform: rotateX(-90deg) translateZ(60px);
    }
    .demo-cube .cube .front {
        -webkit-transform: translateZ(60px);
                transform: translateZ(60px);
    }
    .demo-cube .cube .back {
        -webkit-transform: rotateX(-180deg) translateZ(60px);
                transform: rotateX(-180deg) translateZ(60px);
    }
    .demo-cube .cube .right {
        -webkit-transform: rotateY(90deg) translateZ(60px);
                transform: rotateY(90deg) translateZ(60px);
    }
    .demo-cube .cube .left {
        -webkit-transform: rotateY(-90deg) translateZ(60px);
                transform: rotateY(-90deg) translateZ(60px);
    }
}

@media screen and (max-width: 950px){
    .demo-cube .cube-inner{
        top: 45%;
        left: 62%;
        -webkit-transform-origin: 25px 25px;
            -ms-transform-origin: 25px 25px;
                transform-origin: 25px 25px;
    }
    .demo-cube .cube-inner li{
        width: 50px;
        height: 50px;
    }
    .demo-cube .cube{
        top: 45%;
        left: 61%;
        -webkit-transform-origin: 50px 50px;
            -ms-transform-origin: 50px 50px;
                transform-origin: 50px 50px;
    }
    .demo-cube .cube li{
        width: 100px;
        height: 100px;
    }
    .demo-cube .cube-inner .top{
        -webkit-transform: rotateX(90deg) translateZ(25px);
                transform: rotateX(90deg) translateZ(25px);
    }
    .demo-cube .cube-inner .bottom{
        -webkit-transform: rotateX(-90deg) translateZ(25px);
                transform: rotateX(-90deg) translateZ(25px);
    }
    .demo-cube .cube-inner .front{
        -webkit-transform: translateZ(25px);
                transform: translateZ(25px);
    }
    .demo-cube .cube-inner .back{
        -webkit-transform: rotateX(-180deg) translateZ(25px);
                transform: rotateX(-180deg) translateZ(25px);
    }
    .demo-cube .cube-inner .right{
        -webkit-transform: rotateY(90deg) translateZ(25px);
                transform: rotateY(90deg) translateZ(25px);
    }
    .demo-cube .cube-inner .left{
        -webkit-transform: rotateY(-90deg) translateZ(25px);
                transform: rotateY(-90deg) translateZ(25px);
    }
    .demo-cube .cube .top{
        -webkit-transform: rotateX(90deg) translateZ(50px);
                transform: rotateX(90deg) translateZ(50px);
    }
    .demo-cube .cube .bottom {
        -webkit-transform: rotateX(-90deg) translateZ(50px);
                transform: rotateX(-90deg) translateZ(50px);
    }
    .demo-cube .cube .front {
        -webkit-transform: translateZ(50px);
                transform: translateZ(50px);
    }
    .demo-cube .cube .back {
        -webkit-transform: rotateX(-180deg) translateZ(50px);
                transform: rotateX(-180deg) translateZ(50px);
    }
    .demo-cube .cube .right {
        -webkit-transform: rotateY(90deg) translateZ(50px);
                transform: rotateY(90deg) translateZ(50px);
    }
    .demo-cube .cube .left {
        -webkit-transform: rotateY(-90deg) translateZ(50px);
                transform: rotateY(-90deg) translateZ(50px);
    }
}
@media screen and (max-width: 640px){
    .ear{
        margin-top: 10%;
    }
    .demo-cube .cube li{
        width: 60px;
        height: 60px;
    }
    .demo-cube .cube-inner li{
        width: 30px;
        height: 30px;
    }
    .demo-cube .cube-inner {
        top: 47%;
        left: 64%;
        -webkit-transform-origin: 15px 15px;
            -ms-transform-origin: 15px 15px;
                transform-origin: 15px 15px;
        margin: -10px 0 0 -33px;
    }
    .demo-cube .cube {
        top: 51%;
        left: 63%;
        -webkit-transform-origin: 30px 30px;
            -ms-transform-origin: 30px 30px;
                transform-origin: 30px 30px;
        margin: -46px 0 0 -42px;
    }
    .demo-cube .cube-inner .top {
        -webkit-transform: rotateX(-90deg) translateZ(15px);
        transform: rotateX(90deg) translateZ(15px);
    }
    .demo-cube .cube-inner .bottom{
        -webkit-transform: rotateX(-90deg) translateZ(15px);
                transform: rotateX(-90deg) translateZ(15px);
    }
    .demo-cube .cube-inner .front{
        -webkit-transform: translateZ(15px);
                transform: translateZ(15px);
    }
    .demo-cube .cube-inner .back{
        -webkit-transform: rotateX(-180deg) translateZ(15px);
                transform: rotateX(-180deg) translateZ(15px);
    }
    .demo-cube .cube-inner .right{
        -webkit-transform: rotateY(90deg) translateZ(15px);
                transform: rotateY(90deg) translateZ(15px);
    }
    .demo-cube .cube-inner .left{
        -webkit-transform: rotateY(-90deg) translateZ(15px);
                transform: rotateY(-90deg) translateZ(15px);
    }
    .demo-cube .cube .top{
        -webkit-transform: rotateX(90deg) translateZ(30px);
                transform: rotateX(90deg) translateZ(30px);
    }
    .demo-cube .cube .bottom {
        -webkit-transform: rotateX(-90deg) translateZ(30px);
                transform: rotateX(-90deg) translateZ(30px);
    }
    .demo-cube .cube .front {
        -webkit-transform: translateZ(30px);
                transform: translateZ(30px);
    }
    .demo-cube .cube .back {
        -webkit-transform: rotateX(-180deg) translateZ(30px);
                transform: rotateX(-180deg) translateZ(30px);
    }
    .demo-cube .cube .right {
        -webkit-transform: rotateY(90deg) translateZ(30px);
                transform: rotateY(90deg) translateZ(30px);
    }
    .demo-cube .cube .left {
        -webkit-transform: rotateY(-90deg) translateZ(30px);
                transform: rotateY(-90deg) translateZ(30px);
    }
    .demo-cube{
        /*left: -10%;*/
    }
    ._background{
        /*visibility: hidden;*/
    }
    .round{
        /*display: none;*/
    }
    .copywriting{
        /*display: none;*/
    }
    .ear .lines{
        /*right: 8%;*/
    }
}
@media screen and (max-width: 570px){
    .demo-cube .cube li{
        width: 50px;
        height: 50px;
    }
    .demo-cube .cube-inner li{
        width: 20px;
        height: 20px;
    }
    .demo-cube .cube-inner {
        top: 49%;
        left: 66%;
        -webkit-transform-origin: 10px 10px;
            -ms-transform-origin: 10px 10px;
                transform-origin: 10px 10px;
        margin: -10px 0 0 -33px;
    }
    .demo-cube .cube {
        top: 62%;
        left: 65%;
        -webkit-transform-origin: 25px 25px;
            -ms-transform-origin: 25px 25px;
                transform-origin: 25px 25px;
        margin: -48px 0 0 -43px;
    }
    .demo-cube .cube-inner .top {
        -webkit-transform: rotateX(-90deg) translateZ(10px);
        transform: rotateX(90deg) translateZ(10px);
    }
    .demo-cube .cube-inner .bottom{
        -webkit-transform: rotateX(-90deg) translateZ(10px);
                transform: rotateX(-90deg) translateZ(10px);
    }
    .demo-cube .cube-inner .front{
        -webkit-transform: translateZ(10px);
                transform: translateZ(10px);
    }
    .demo-cube .cube-inner .back{
        -webkit-transform: rotateX(-180deg) translateZ(10px);
                transform: rotateX(-180deg) translateZ(10px);
    }
    .demo-cube .cube-inner .right{
        -webkit-transform: rotateY(90deg) translateZ(10px);
                transform: rotateY(90deg) translateZ(10px);
    }
    .demo-cube .cube-inner .left{
        -webkit-transform: rotateY(-90deg) translateZ(10px);
                transform: rotateY(-90deg) translateZ(10px);
    }
    .demo-cube .cube .top{
        -webkit-transform: rotateX(90deg) translateZ(25px);
                transform: rotateX(90deg) translateZ(25px);
    }
    .demo-cube .cube .bottom {
        -webkit-transform: rotateX(-90deg) translateZ(25px);
                transform: rotateX(-90deg) translateZ(25px);
    }
    .demo-cube .cube .front {
        -webkit-transform: translateZ(25px);
                transform: translateZ(25px);
    }
    .demo-cube .cube .back {
        -webkit-transform: rotateX(-180deg) translateZ(25px);
                transform: rotateX(-180deg) translateZ(25px);
    }
    .demo-cube .cube .right {
        -webkit-transform: rotateY(90deg) translateZ(25px);
                transform: rotateY(90deg) translateZ(25px);
    }
    .demo-cube .cube .left {
        -webkit-transform: rotateY(-90deg) translateZ(25px);
                transform: rotateY(-90deg) translateZ(25px);
    }
}