* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    /* -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

body::-webkit-scrollbar {
    width: 0
}

body,
html {
    font-family: 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

@font-face {
    font-family: font1;
    src: url('../font/fzltkhk_GBK.TTF');
}

li {
    list-style: none;
}

.right {
    float: right
}

.left {
    float: left;
}

.clear {
    clear: both;
}

#display {
    z-index: 0;
    display: block;
    cursor: default;
    position: absolute;
}

#blachole {
    position: fixed;
    top: 60px;
    right: 60px;
    width: 120px;
    height: 120px;
}

.main .slider {
    width: 100%;
    padding-top: 60px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 879px;
    /* background: url('../image/sliderbg.png') no-repeat, linear-gradient( top, #23c5c7, #1cb79e);
    background: url('../image/sliderbg.png') no-repeat, -webkit-linear-gradient( top, #23c5c7, #1cb79e);
    background: url('../image/sliderbg.png') no-repeat, -moz-linear-gradient( top, #23c5c7, #1cb79e); */
    background: url("../image/sliderbg.png") center center no-repeat, -webkit-gradient( linear, left top, left bottom, from(#23c5c7), to(#1cb79e));
    background: url("../image/sliderbg.png") center center no-repeat, -o-linear-gradient( top, #23c5c7, #1cb79e);
    background: url("../image/sliderbg.png") center center no-repeat, linear-gradient( top, #23c5c7, #1cb79e);
    ;
    background: url("../image/sliderbg.png") center center no-repeat, -webkit-linear-gradient( top, #23c5c7, #1cb79e);
    ;
    background: url("../image/sliderbg.png") center center no-repeat, -moz-linear-gradient( top, #23c5c7, #1cb79e);
}

.main .sliderbg {
    width: 100%;
    height: 100%;
    position: relative;
}

.main .slider>div {
    text-align: center
}

.main .slider .logo {
    margin-bottom: 30px
}

.main .slider .corpmain {
    font-size: 36px;
    color: #ffffff;
    font-family: font1;
}

.main .slider .charts {
    width: 950px;
    height: 450px;
    margin: 45px auto;
    z-index: 99
}

.main .slider .regbtn {
    border-radius: 50px;
    text-align: center;
    width: 190px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    background: #00f0ff;
    z-index: 999;
    position: relative;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 3px 3px 15px #21212152;
    -moz-box-shadow: 3px 3px 15px #21212152;
    -webkit-box-shadow: 3px 3px 15px #21212152;
    -o-transition: all .5s;
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
}

.main .slider .regbtn:hover {
    background: #0de0c0;
}

.top {
    background: #ffffff;
}

.top .nav {
    width: 980px;
    z-index: 99
}

.nav-fixed {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    background: #fff;
    border-bottom: 1px solid #e7e7e7
}

.navcol_s #navbar-example {
    background: #ffffff;
    margin-bottom: 0;
    border: none;
}

.top .nav>div:first-child,
.top .nav>div:last-child {
    padding: 0;
}

.top .nav>a>div:first-child {
    padding: 15px 0 10px 36px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
    width: auto;
    color: #737373;
}

.top .loginBtn {
    display: inline-block;
    color: #0de0c0;
    padding: 3px 13px;
    border: 1px solid #0de0c0;
    border-radius: 28px;
    margin-top: 11px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    cursor: pointer;
}

.top .loginBtn:hover {
    color: #ffffff;
    background: #0de0c0;
}

.top .nav>div>a>div{
    cursor: pointer;
    width: auto;
    padding: 15px 0 10px 40px;
    font-size: 14px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 25px;
    /* margin-right: -10px; */
    color: #737373;
}
.top.mobile_top{
    display: none;
}
.top.mobile_top .nav.mobile_nav{
    width: 100%;
}
.top.mobile_top .nav.mobile_nav ul li>a>div{
    cursor: pointer;
    width: auto;
    padding: 15px 0 10px 40px;
    font-size: 14px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 25px;
    /* margin-right: -10px; */
    color: #737373;
    border: 2px solid transparent;
    border-bottom: none;
}
.footer_placeholder{
    display: none;
    width: 100%;
    height: 50px;
    position: relative;
}
.top.mobile_top{
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e7e7e7;
    z-index: 9999;
}
.top.mobile_top .nav.mobile_nav .mobile_nav_container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width:100%;
    margin-bottom:0;
}
.top.mobile_top .nav.mobile_nav .mobile_nav_container .dropdown-menu{
    left: -208%;
}
.top.mobile_top .nav.mobile_nav .mobile_nav_container .dropup li{
    padding: 10px 0;
    text-align: center;
}
.top.mobile_top .nav.mobile_nav .mobile_nav_container li.moblie_nav_li{
    width: 25%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    white-space: nowrap;
}
.top .nav .act {
    border-bottom: 2px solid #0de0c0;
    color: #0de0c0!important;
}

.top .nav .actmove {
    border-bottom: 2px solid #0de0c0;
    color: #0de0c0!important;
}

.top .nav .icon1 {
    background-image: url("../image/icon1.png");
    background-repeat: no-repeat;
    background-position: center left
}

.top .nav .icon2 {
    background-image: url("../image/icon2.png");
    background-repeat: no-repeat;
    background-position: center left
}

.top .nav .icon3 {
    background-image: url("../image/icon3.png");
    background-repeat: no-repeat;
    background-position: center left
}

.top .nav .icon4 {
    background-image: url("../image/icon4.png");
    background-repeat: no-repeat;
    background-position: center left
}

.top .nav .icon5 {
    background-image: url("../image/icon5.png");
    background-repeat: no-repeat;
    background-position: center left
}

.top .nav .icon6 {
    background-image: url("../image/icon6.png");
    background-repeat: no-repeat;
    background-position: center left
}

.top .nav .icon7 {
    background-image: url("../image/icon7.png");
    background-repeat: no-repeat;
    background-position: center left
}
.top .nav .icon8 {
    background-image: url("../image/icon8.png");
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 25px;
}
.top .nav .icon1.act {
    background-image: url("../image/icon1-1.png");
    background-repeat: no-repeat;
    background-position: center left
}

.top .nav .icon2.act {
    background-image: url("../image/icon2-1.png");
    background-repeat: no-repeat;
    background-position: center left
}

.top .nav .icon3.act {
    background-image: url("../image/icon3-1.png");
    background-repeat: no-repeat;
    background-position: center left
}

.top .nav .icon4.act {
    background-image: url("../image/icon4-1.png");
    background-repeat: no-repeat;
    background-position: center left
}

.top .nav .icon5.act {
    background-image: url("../image/icon5-1.png");
    background-repeat: no-repeat;
    background-position: center left
}

.top .nav .icon6.act {
    background-image: url("../image/icon6-1.png");
    background-repeat: no-repeat;
    background-position: center left
}

.top .nav .icon7.act {
    background-image: url("../image/icon7-1.png");
    background-repeat: no-repeat;
    background-position: center left
}

.top .nav .icon8.act {
    background-image: url("../image/icon8-1.png");
    background-repeat: no-repeat;
    background-position: center left
}

.top .banner .title {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: #09c0a4;
    font-size: 16px;
}

.top .banner .bg {
    background-color: #defff6;
}

.top .banner .title>div {
    position: relative;
    padding-left: 0;
    padding-right: 0;
}

.top .banner .title>div>div.titlemove {
    -webkit-animation: titlemove 10s infinite linear;
            animation: titlemove 10s infinite linear;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    background: url('../image/title.png') no-repeat center left;
    padding-left: 40px
}

@-webkit-keyframes titlemove {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0)
    }
    100% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%)
    }
    /* 51% {  
        transform: translateX(100%)
    }
    100% {
      
        transform: translateX(0)
    } */
}

@keyframes titlemove {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0)
    }
    100% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%)
    }
    /* 51% {  
        transform: translateX(100%)
    }
    100% {
      
        transform: translateX(0)
    } */
}

@-webkit-keyframes titlemove1 {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0)
    }
    100% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%)
    }
}

@keyframes titlemove1 {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0)
    }
    100% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%)
    }
}

.top .banner .bannerCilent {
    text-align: center
}

.top .banner .bannerCilent .text {
    margin: 80px 0 20px 0;
}

.top .banner .bannerCilent .text1 {
    margin-bottom: 60px;
}

.top .banner .bannerCilent img {
    margin-bottom: 5px;
}

.top .banner .bannerCilent span {
    color: #3b3b3b;
    font-size: 22px;
    display: block;
    margin-bottom: 10px;
}

.top .banner {
    margin-bottom: 50px;
}

.content .platadva {
    background: -webkit-gradient( linear, left top, left bottom, from(#62dac9), to(#32cdb7));
    background: -o-linear-gradient( top, #62dac9, #32cdb7);
    background: linear-gradient( top, #62dac9, #32cdb7);
    background: -webkit-linear-gradient( top, #62dac9, #32cdb7);
    background: -moz-linear-gradient( top, #62dac9, #32cdb7);
    background-size: 100% 100%;
    color: #ffffff;
    padding: 65px 0;
    position: relative;
    overflow: hidden;
}

.content .platadva .headline-bg {
    height: 130px;
    width: 100%!important;
    position: absolute;
    bottom: 0;
}

.content .platadva .headline-bg canvas {
    width: 100%!important;
}

.content .platadva .title {
    font-size: 36px;
    text-align: center;
}

.content .border {
    width: 36px;
    height: 4px;
    margin: 2px auto 50px;
    background: #ffffff;
}

.content .platadva p {
    line-height: 35px;
}

.plateadv-con>div {
    margin-bottom: 10px;
}

.content .operaconc {
    color: #fff;
    padding: 65px 0 85px 0;
    text-align: center;
    background: url('../image/background.png') no-repeat;
    background-size: 100% 100%;
}

.content .operaconc .title {
    font-size: 36px;
    text-align: center;
}

.content .operaconc .border {
    width: 36px;
    height: 4px;
    margin: 2px auto 50px;
    background: #36ceb9;
}

.content .operaconc .text {
    margin-bottom: 10px;
}

.footer {
    height: 200px;
    background: url('../image/footerbg.png') no-repeat;
    background-size: 100% 100%;
    color: #84d1ce;
    font-size: 18px;
    text-align: center;
    padding-top: 140px;
}

.footer .icons img{
    cursor: pointer;
}

.footer .leftment,
.footer .rightment {
    margin: 45px 0 30px 0;
    padding-bottom: 35px;
    border-bottom: 1px solid #12373a
}

.footer .textby {
    font-size: 14px;
    color: #1ab394;
}

.footer .big {
    color: #00ffcb;
    font-size: 30px;
}
.dropdown_list{
    position: relative;
}
.dropdown_list ul li{
    text-align: center;
}
.navcol_n{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
@media screen and (min-width: 320px) {
    .navcol_s {
        display: block;
    }
    .navcol_b {
        display: none;
    }
    .top .nav,
    .bannerCilent,
    .plateadv-con,
    .footer-con,
    .banner .title,
    .operaconc .container,
    .navcol_s #navbar-example .container,
    .news .container {
        width: 320px;
        padding-left: 0;
        padding-right: 0
    }
    .top .banner .bannerCilent span {
        font-size: 16px;
    }
    .bannerCilent>div img {
        width: 80%
    }
    .top .nav>div>a>div {
        font-size: 14px;
        background-size: 22px;
        padding-left: 27px;
        margin: 0 14px 10px 0;
    }
    .top.mobile_top .nav.mobile_nav .mobile_nav_container a div{
        font-size: 13px;
        /*background-size: 17px;*/
        /*padding-left: 18px;*/
        padding-left: 0;
        margin: 10px 8px 10px 8px;
    }
    .nav .container {
        padding-left: 0;
        padding-right: 0;
        width: auto;
        margin-right: 9px;
    }
    .top .nav>div:first-child {
        font-size: 14px;
        background-size: 22px;
        padding-left: 27px;
        margin: 0 14px 10px 0;
        padding-bottom: 10px;
    }
    .main .slider .charts {
        width: 320px;
        height: 220px;
        margin: 6px auto;
    }
    .main .slider {
        padding-top: 22px;
        height: 520px;
    }
    .main .slider .corpmain {
        font-size: 20px;
    }
    .main .slider .regbtn {
        width: 125px;
        height: 35px;
        line-height: 35px;
        font-size: 16px;
    }
    .top .banner .bannerCilent .text {
        margin-top: 55px;
    }
    .content .platadva {
        padding: 45px 0;
    }
    .content .platadva .title {
        font-size: 30px;
    }
    .content .operaconc {
        padding-top: 45px;
        padding-bottom: 25px;
    }
    .content .operaconc .title {
        font-size: 30px;
    }
    .plateadv-con>div>div:first-child {
        float: left;
        margin-top: 0px;
    }
    .plateadv-con>div>div:nth-child(2n) {
        margin-left: 75px;
    }
    .footer {
        height: 160px;
        font-size: 14px;
        padding-top: 35px;
    }
    .footer .textby {
        font-size: 12px;
    }
    .footer .leftment,
    .footer .rightment {
        margin: 26px 0 10px 0;
        padding-bottom: 18px;
    }
    .plateadv-con>div>div:first-child img {
        width: 45px;
    }
    .plateadv-con>div>div:nth-child(2n) {
        margin-left: 50px;
    }
    .footer-con .icon1 {
        margin-bottom: 37px;
        padding-bottom: 30px;
        border-bottom: 1px solid #12373a;
    }
    .footer-con .icon2 {
        margin-bottom: 37px;
        padding-bottom: 32px;
        border-bottom: 1px solid #12373a;
    }
    .footer-con .icon3 {
        margin-bottom: 37px;
        padding-bottom: 31px;
        border-bottom: 1px solid #12373a;
    }
}

@media screen and (min-width: 480px) {
    .footer-con .icon1 {
        margin-bottom: 37px;
        padding-bottom: 30px;
        border-bottom: 1px solid #12373a;
    }
    .footer-con .icon2 {
        margin-bottom: 37px;
        padding-bottom: 32px;
        border-bottom: 1px solid #12373a;
    }
    .footer-con .icon3 {
        margin-bottom: 37px;
        padding-bottom: 31px;
        border-bottom: 1px solid #12373a;
    }
    .top .nav,
    .bannerCilent,
    .plateadv-con,
    .footer-con,
    .banner .title,
    .operaconc .container,
    .navcol_s #navbar-example .container,
    .news .container {
        width: 460px;
        padding-left: 0;
        padding-right: 0
    }
    .top .banner .bannerCilent span {
        font-size: 22px;
    }
    .top .nav>div>a>div {
        font-size: 14px;
        background-size: 22px;
        padding-left: 27px;
        margin: 0 14px 10px 0;
    }
    .nav .container {
        padding-left: 0;
        padding-right: 0;
        width: auto;
        margin-right: 9px;
    }
    .top .nav>div:first-child {
        font-size: 14px;
        background-size: 22px;
        padding-left: 27px;
        margin: 0 14px 10px 0;
        padding-bottom: 10px;
    }
    .main .slider .charts {
        width: 460px;
        height: 270px;
        margin: 6px auto;
    }
    .main .slider {
        padding-top: 34px;
        height: 580px;
    }
    .main .slider .corpmain {
        font-size: 24px;
    }
    .main .slider .regbtn {
        width: 155px;
        height: 40px;
        line-height: 40px;
    }
    .top .banner .bannerCilent .text {
        margin-top: 55px;
    }
    .content .platadva {
        padding: 45px 0;
    }
    .content .platadva .title {
        font-size: 30px;
    }
    .content .operaconc {
        padding-top: 45px;
        padding-bottom: 65px;
    }
    .content .operaconc .title {
        font-size: 30px;
    }
    .plateadv-con>div>div:first-child {
        float: left;
        margin-top: 0px;
    }
    .plateadv-con>div>div:first-child img {
        width: auto;
    }
    .plateadv-con>div>div:nth-child(2n) {
        margin-left: 75px;
    }
    .footer {
        height: 180px;
        font-size: 16px;
        padding-top: 40px;
    }
    .footer .textby {
        font-size: 12px;
    }
    .footer .leftment,
    .footer .rightment {
        margin: 45px 0 30px 0;
        padding-bottom: 35px;
    }
}

@media screen and (min-width: 640px) {
    .top .nav,
    .bannerCilent,
    .plateadv-con,
    .footer-con,
    .banner .title,
    .operaconc .container,
    .navcol_s #navbar-example .container,
    .news .container {
        width: 620px;
        padding-left: 0;
        padding-right: 0
    }
    .top .nav>div>a>div {
        font-size: 14px;
        background-size: 22px;
        padding-left: 27px;
        margin: 0 14px 10px 0;
    }
    .nav .container {
        padding-left: 0;
        padding-right: 0;
        width: auto;
        margin-right: 9px;
    }
    .top .nav>div:first-child {
        font-size: 14px;
        background-size: 22px;
        padding-left: 27px;
        margin: 0 14px 10px 0;
        padding-bottom: 10px;
    }
    .main .slider .charts {
        width: 600px;
        height: 300px;
        margin: 25px auto;
    }
    .main .slider {
        padding-top: 34px;
        height: 680px;
    }
    .main .slider .corpmain {
        font-size: 26px;
    }
    .main .slider .regbtn {
        width: 175px;
        height: 45px;
        line-height: 45px;
    }
    .top .banner .bannerCilent .text {
        margin-top: 55px;
    }
    .content .platadva {
        padding: 45px 0;
    }
    .content .platadva .title {
        font-size: 30px;
    }
    .content .operaconc {
        padding-top: 45px;
        padding-bottom: 65px;
    }
    .content .operaconc .title {
        font-size: 30px;
    }
    .plateadv-con>div>div:first-child {
        float: left;
        margin-top: 0px;
    }
    .plateadv-con>div>div:nth-child(2n) {
        margin-left: 75px;
    }
    .top .banner .bannerCilent span {
        font-size: 22px;
    }
}

@media screen and (min-width: 768px) {
    .navcol_s {
        display: none;
    }
    .navcol_b {
        display: block;
    }
    .navcol_n{
        display: block;
        overflow: auto;
    }
    .top .nav,
    .bannerCilent,
    .plateadv-con,
    .footer-con,
    .banner .title,
    .operaconc .container,
    .news .container {
        width: 720px;
        padding-left: 0;
        padding-right: 0
    }
    .footer-con .icon1 {
        margin-bottom: 37px;
        padding-bottom: 30px;
        border-bottom: 1px solid #12373a;
    }
    .footer-con .icon2 {
        margin-bottom: 37px;
        padding-bottom: 32px;
        border-bottom: 1px solid #12373a;
    }
    .footer-con .icon3 {
        margin-bottom: 37px;
        padding-bottom: 31px;
        border-bottom: 1px solid #12373a;
    }
    .top .nav>div>a>div {
        font-size: 13px;
        background-size: 22px;
        padding-left: 27px;
        margin: 0 14px 0 0;
    }
    .top .nav>a>div:first-child {
        font-size: 13px;
    }
    .nav .container {
        padding-left: 0;
        padding-right: 0;
        width: auto;
        margin-right: 9px;
    }
    .top .nav>div:first-child {
        font-size: 14px;
        background-size: 22px;
        padding-left: 27px;
        margin: 0 14px 0 0;
        padding-bottom: 10px;
    }
    .main .slider .charts {
        width: 720px;
        height: 350px;
        margin: 25px auto;
    }
    .main .slider {
        padding-top: 40px;
        height: 725px
    }
    .main .slider .corpmain {
        font-size: 26px;
    }
    .main .slider .regbtn {
        width: 175px;
        height: 45px;
        line-height: 45px;
    }
    .top .banner .bannerCilent .text {
        margin-top: 55px;
    }
    .content .platadva {
        padding: 45px 0;
    }
    .content .platadva .title {
        font-size: 30px;
    }
    .content .operaconc {
        padding-top: 45px;
        padding-bottom: 65px;
    }
    .content .operaconc .title {
        font-size: 30px;
    }
    .plateadv-con>div>div:first-child {
        float: left;
        margin-top: 23px;
    }
    .plateadv-con>div>div:nth-child(2n) {
        margin-left: 75px;
    }
    .top .banner .bannerCilent span {
        font-size: 22px;
    }
    .footer {
        height: 200px;
        font-size: 18px;
        /*padding-top: 140px;*/
    }
    .footer .textby {
        font-size: 14px;
    }
}

@media screen and (min-width: 1200px) {
    .top .nav,
    .bannerCilent,
    .plateadv-con,
    .footer-con,
    .banner .title,
    .operaconc .container,
    .news .container {
        width: 990px;
        padding-left: 0;
        padding-right: 0
    }
    .top .banner .bannerCilent span {
        font-size: 22px;
    }
    .main .slider .charts {
        width: 950px;
        height: 450px;
        margin: 45px auto;
    }
    .main .slider {
        padding-top: 60px;
        height: 879px;
    }
    .main .slider .corpmain {
        font-size: 36px;
    }
    .main .slider .regbtn {
        width: 190px;
        height: 50px;
        line-height: 50px;
    }
    .top .banner .bannerCilent .text {
        margin-top: 80px;
    }
    .content .platadva {
        padding: 65px 0;
    }
    .content .platadva .title {
        font-size: 36px;
    }
    .content .operaconc {
        padding-top: 65px;
    }
    .content .operaconc .title {
        font-size: 36px;
    }
    .plateadv-con>div>div:first-child {
        float: left;
        margin-top: 23px;
    }
    .plateadv-con>div>div:nth-child(2n) {
        margin-left: 75px;
    }
    .top .nav>div>a>div {
        font-size: 14px;
        margin: 0 40px 0 0;
    }
    .top .nav>a>div:first-child {
        font-size: 14px;
        margin: 0 40px 0 0;
    }
}

@media screen and (max-width: 768px){
    .prompt{
        -webkit-box-flex: 1;
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1;
    }
    .top .navcol.navcol_s{
        display: none;
    }
    .footer_placeholder{
        display: block;
    }
    .top.mobile_top{
        display: block;
    }
    .left_right_div_buy .right_cont input,
    .left_right_div_buy .right_cont select{
        width: 100%;
    }
    .left_right_div_buy input, .left_right_div_buy select{
        width: 68%;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1;
    }
}

@media screen and (max-width: 991px){
    .dropdown_list ul.dropdown-menu{
        left: -140%;
    }
}

@media screen and (max-width: 1200px){
    .dropdown_list{
        display: inline-block;
    }
}

@media screen and (max-height: 820px){
    .xinxi_bc .btn_div {
        margin-bottom: 162px !important;
        margin-bottom: 22vh !important;
    }
}

@media screen and (max-height: 640px){
    .xinxi_bc .btn_div {
        margin-bottom: 300px !important;
        margin-bottom: 40vh !important;
    }
}

@media screen and (max-height: 570px){
    .xinxi_bc .btn_div {
        margin-bottom: 260px !important;
        margin-bottom: 46vh !important;
    }
}

@media screen and (max-height: 480px){
    .xinxi_bc .btn_div {
        margin-bottom: 375px !important;
        margin-bottom: 78vh !important;
    }
}

.top .nav .icon1:hover {
    background-image: url('../image/icon1-1.png');
}
.top .nav .icon2:hover {
    background-image: url('../image/icon2-1.png');
}
.top .nav .icon3:hover {
    background-image: url('../image/icon3-1.png');
}
.top .nav .icon4:hover {
    background-image: url('../image/icon4-1.png');
}
.top .nav .icon5:hover {
    background-image: url('../image/icon5-1.png');
}
.top .nav .icon6:hover {
    background-image: url('../image/icon6-1.png');
}
.top .nav .icon7:hover {
    background-image: url('../image/icon7-1.png');
}
.ear_icon1 {
    -webkit-animation: myanimation 4s linear;
            animation: myanimation 4s linear
}

.ear_icon2 {
    -webkit-animation: myanimation2 5s 1s linear;
            animation: myanimation2 5s 1s linear
}

.ear_icon3 {
    -webkit-animation: myanimation3 6s 2s linear;
            animation: myanimation3 6s 2s linear
}

.ear_icon4 {
    -webkit-animation: myanimation4 4s 0.5s linear;
            animation: myanimation4 4s 0.5s linear
}

.ear_icon5 {
    -webkit-animation: myanimation5 5s 1.5s linear;
            animation: myanimation5 5s 1.5s linear
}

.ear_icon6 {
    -webkit-animation: myanimation6 6s 2.5s linear;
            animation: myanimation6 6s 2.5s linear
}

.restart1 {
    -webkit-animation: my1 4s linear;
            animation: my1 4s linear
}

.restart2 {
    -webkit-animation: my2 5s 1s linear;
            animation: my2 5s 1s linear
}

.restart3 {
    -webkit-animation: my3 6s 2s linear;
            animation: my3 6s 2s linear
}

.restart4 {
    -webkit-animation: my4 4s 0.5s linear;
            animation: my4 4s 0.5s linear
}

.restart5 {
    -webkit-animation: my5 5s 1.5s linear;
            animation: my5 5s 1.5s linear
}

.restart6 {
    -webkit-animation: my6 6s 2.5s linear;
            animation: my6 6s 2.5s linear
}

.ear_img {
    -webkit-transform: translate(-50%, -49%);
        -ms-transform: translate(-50%, -49%);
            transform: translate(-50%, -49%);
    position: absolute;
    top: 50%;
    left: 49%;
    opacity: 0
}

.pause {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}

.ear {
    position: relative;
    background: url('../image/background.png') no-repeat center center;
    margin-top: 10px;
}

.ear img {
    max-width: 100%;
}
.ear .lines{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.ear .lines .line1{
    width: 55%;
    height: 1px;
    -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
            transform: rotate(15deg);
    left: 3.9%;
    top: 23%;
}
.ear .lines .line2{
    width: 32%;
    height: 1px;
    -webkit-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
            transform: rotate(25deg);
    left: 26.9%;
    top: 21.4%;
}
.ear .lines .line3{
    width: 27%;
    height: 1px;
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg);
    left: 32.9%;
    top: 21.4%;
}
.ear .lines .line4{
    width: 58%;
    height: 1px;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    top: 47.9%;
}
.ear .lines .line5{
    width: 58%;
    height: 1px;
    -webkit-transform: rotate(-6deg);
        -ms-transform: rotate(-6deg);
            transform: rotate(-6deg);
    top: 58%;
}
.ear .lines .line6{
    width: 56%;
    height: 1px;
    -webkit-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
            transform: rotate(-15deg);
    left: 3%;
    top: 73%;
}
.ear .lines .line7{
    width: 45%;
    height: 1px;
    -webkit-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
            transform: rotate(-20deg);
    left: 14.2%;
    top: 75.4%;
}
.ear .lines .line8{
    width: 31%;
    height: 1px;
    -webkit-transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
            transform: rotate(-30deg);
    left: 30.1%;
    top: 75%;
}
.ear .lines .line9{
    width: 27%;
    height: 1px;
    -webkit-transform: rotate(-35deg);
        -ms-transform: rotate(-35deg);
            transform: rotate(-35deg);
    left: 34.7%;
    top: 75%;
}
.ear .lines .line10{
    width: 20%;
    height: 1px;
    -webkit-transform: rotate(-46deg);
        -ms-transform: rotate(-46deg);
            transform: rotate(-46deg);
    left: 42%;
    top: 75%;
}
.ear .lines .line11{
    width: 16%;
    height: 1px;
    -webkit-transform: rotate(-100deg);
        -ms-transform: rotate(-100deg);
            transform: rotate(-100deg);
    left: 53.9%;
    top: 75%;
}
.ear .lines .line12{
    width: 16%;
    height: 1px;
    -webkit-transform: rotate(-105deg);
        -ms-transform: rotate(-105deg);
            transform: rotate(-105deg);
    left: 54.7%;
    top: 75%;
}
.ear .lines .line13{
    width: 40%;
    height: 1px;
    -webkit-transform: rotate(-160deg);
        -ms-transform: rotate(-160deg);
            transform: rotate(-160deg);
    left: 61%;
    top: 71.6%;
    /* bottom: 0%; */
}
.ear .lines .line14{
    width: 38.6%;
    height: 1px;
    -webkit-transform: rotate(-165deg);
        -ms-transform: rotate(-165deg);
            transform: rotate(-165deg);
    left: 62%;
    top: 65.3%;
}
.ear .lines .line15{
    width: 39.3%;
    height: 1px;
    -webkit-transform: rotate(-170deg);
        -ms-transform: rotate(-170deg);
            transform: rotate(-170deg);
    left: 61%;
    top: 59.5%;
}
.ear .lines .line16{
    width: 39%;
    height: 1px;
    -webkit-transform: rotate(-175deg);
        -ms-transform: rotate(-175deg);
            transform: rotate(-175deg);
    left: 61%;
    top: 53.6%;
}
.ear .lines .line17{
    width: 39%;
    height: 1px;
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
    left: 61%;
    top: 48%;
}
.ear .lines .line18{
    width: 40%;
    height: 1px;
    -webkit-transform: rotate(-190deg);
        -ms-transform: rotate(-190deg);
            transform: rotate(-190deg);
    left: 60%;
    top: 36.9%;
}
.ear .lines .line19{
    width: 17%;
    height: 1px;
    -webkit-transform: rotate(125deg);
        -ms-transform: rotate(125deg);
            transform: rotate(125deg);
    left: 57.6%;
    top: 22%;
}
.ear .lines .line20{
    width: 17%;
    height: 1px;
    -webkit-transform: rotate(130deg);
        -ms-transform: rotate(130deg);
            transform: rotate(130deg);
    left: 59.1%;
    top: 20.7%;
}
.ear .lines .line21{
    width: 12%;
    height: 1px;
    -webkit-transform: rotate(85deg);
        -ms-transform: rotate(85deg);
            transform: rotate(85deg);
    left: 53.6%;
    top: 18.9%;
}
.ear .lines .line22{
    width: 12%;
    height: 1px;
    -webkit-transform: rotate(80deg);
        -ms-transform: rotate(80deg);
            transform: rotate(80deg);
    left: 52.9%;
    top: 18.9%;
}
.ear .lines .line23{
    width: 15%;
    height: 1px;
    -webkit-transform: rotate(55deg);
        -ms-transform: rotate(55deg);
            transform: rotate(55deg);
    left: 46.8%;
    top: 19.9%;
}
.ear .lines .line24{
    width: 14%;
    height: 1px;
    -webkit-transform: rotate(105deg);
        -ms-transform: rotate(105deg);
            transform: rotate(105deg);
    left: 55.6%;
    top: 21.8%;
}
.ear .lines .line25{
    width: 14%;
    height: 1px;
    -webkit-transform: rotate(110deg);
        -ms-transform: rotate(110deg);
            transform: rotate(110deg);
    left: 56.4%;
    top: 21.2%;
}
.ear .lines .line26{
    width: 14%;
    height: 1px;
    -webkit-transform: rotate(115deg);
        -ms-transform: rotate(115deg);
            transform: rotate(115deg);
    left: 57.4%;
    top: 20.5%;
}
.ear .lines .line27{
    width: 33%;
    height: 1px;
    -webkit-transform: rotate(-150deg);
        -ms-transform: rotate(-150deg);
            transform: rotate(-150deg);
    left: 58%;
    top: 73.9%;
}
.ear .lines .line28{
    width: 28%;
    height: 1px;
    -webkit-transform: rotate(-145deg);
        -ms-transform: rotate(-145deg);
            transform: rotate(-145deg);
    left: 58.3%;
    top: 74%;
}
.ear .lines .line29{
    width: 25%;
    height: 1px;
    -webkit-transform: rotate(-140deg);
        -ms-transform: rotate(-140deg);
            transform: rotate(-140deg);
    left: 57.9%;
    top: 74.3%;
}
.ear .lines .line30{
    width: 17%;
    height: 1px;
    -webkit-transform: rotate(-115deg);
        -ms-transform: rotate(-115deg);
            transform: rotate(-115deg);
    left: 56%;
    top: 75.1%;
}
.ear .lines .line31{
    width: 14%;
    height: 1px;
    -webkit-transform: rotate(-89deg);
        -ms-transform: rotate(-89deg);
            transform: rotate(-89deg);
    left: 53%;
    top: 74.2%;
}
.ear .lines .line32{
    width: 15%;
    height: 1px;
    -webkit-transform: rotate(-88deg);
        -ms-transform: rotate(-88deg);
            transform: rotate(-88deg);
    left: 52.2%;
    top: 72.8%;
}
.ear .lines .line{
    position: absolute;
    background: #2c4645 -webkit-gradient(linear, right top, left top, from(#2c4645), to(#8ee1d6)) 0 0 no-repeat;
    background: #2c4645 -webkit-linear-gradient(right, #2c4645, #8ee1d6) 0 0 no-repeat;
    background: #2c4645 -o-linear-gradient(right, #2c4645, #8ee1d6) 0 0 no-repeat;
    background: #2c4645 linear-gradient(right, #2c4645, #8ee1d6) 0 0 no-repeat;
    background-size: 80px;
    -webkit-animation: electricity 2s infinite linear;
            animation: electricity 2s infinite linear;
}
.ear .lines .line_dark{
    background: #1a2b2a -webkit-gradient(linear, right top, left top, from(#1a2b2a), to(#8ee1d6)) 0 0 no-repeat;
    background: #1a2b2a -webkit-linear-gradient(right, #1a2b2a, #8ee1d6) 0 0 no-repeat;
    background: #1a2b2a -o-linear-gradient(right, #1a2b2a, #8ee1d6) 0 0 no-repeat;
    background: #1a2b2a linear-gradient(right, #1a2b2a, #8ee1d6) 0 0 no-repeat;
    background-size: 80px;
    -webkit-animation: electricity 2s infinite linear;
            animation: electricity 2s infinite linear;
}
.ear .lines .line_light{
    background: #92ebe1 -webkit-gradient(linear, right top, left top, from(#92ebe1), to(#67eade)) 0 0 no-repeat;
    background: #92ebe1 -webkit-linear-gradient(right, #92ebe1, #67eade) 0 0 no-repeat;
    background: #92ebe1 -o-linear-gradient(right, #92ebe1, #67eade) 0 0 no-repeat;
    background: #92ebe1 linear-gradient(right, #92ebe1, #67eade) 0 0 no-repeat;
    background-size: 80px;
    -webkit-animation: electricity 2s infinite linear;
            animation: electricity 2s infinite linear;
}
@-webkit-keyframes electricity{
    from{
        background-position: 100% 100%;
    }
    to{
        background-position: 0 0;
    }
}
@keyframes electricity{
    from{
        background-position: 100% 100%;
    }
    to{
        background-position: 0 0;
    }
}
.copywriting{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
}
.copywriting img{
    position: absolute;
    left: 27.1%;
    top: 66.5%;
    height: 4.9%;
}
/*zzl å¢žåŠ */
.modal-dialog input,.modal-dialog select {
    -webkit-box-shadow:none;
            box-shadow:none;
    border: 1px solid #eaeaea;
}
.modal-body{
    padding:30px;
}
.dialogpassword{
    margin-top:10px;
    font-size: 18px;
    letter-spacing: 2px;
    /*font-size: 29px;*/
    /*line-height: 29px;*/
    /*padding-top: 0;*/
    -webkit-box-shadow: none;
            box-shadow: none;
}
.dialogqiehuan,.dialogqiehuan2,.dialogqiehuan3{
    margin-top: 20px;
    text-align: center;
    width: 100px;
    height: 39px;
    font-size: 15px;
    background:#36ceb9;
    color:white;
    border:none;
    outline:none;
}
.default_back{
    background:silver;
}
/*.success_back{
    background:#5cb85c;
}*/
.dialogqiehuan:hover{
    background:#40b5a5 !important;
}
.dialogqiehuan:focus{
    background:#40b5a5 !important;
}
.dialogqiehuan:active{
    background:#40b5a5 !important;
}
.dialogqiehuan2:hover{
    background:#a2a2a2 !important;
}
.dialogqiehuan2:focus{
    background:#a2a2a2 !important;
}
.dialogqiehuan2:active{
    background:#a2a2a2 !important;
}
.dialogqiehuan3:hover{
    background:#36ceb9 !important;
}
.dialogqiehuan3:focus{
    background:#36ceb9 !important;
}
.dialogqiehuan3:active{
    background:#36ceb9 !important;
}
.btn_cent{
    text-align:center;
}
.modal-title{
    text-align:left;
    color:#36ceb9;
}
.login_pass > input, .transaction_pass > input{
    margin-top:10px;
}
.nav_table{
    border-bottom:1px solid #ccc;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
}
.nav_table div{
    width:50%;
    height: 40px;
    line-height: 40px;
    color:#424242;
    cursor:pointer;
}
.pass_body{
    padding-top:0;
}
.bg_color{
    background:#36ceb9;
    color:white;
}
.pass_ative{
    color:#36ceb9 !important;
    border-bottom:2px solid #36ceb9;
}
.close_diy{
    width: 23px;
    height: 23px;
    border-radius: 50px;
    text-align: center;
    line-height: 23px;
}
.close_diy:hover{
    background-color:#36ceb9;
    border-radius: 50px;
    text-align: center;
    line-height: 23px;
    opacity: 1;
    color: white;
    font-weight: 100;
    text-shadow: none;
}
.title_nav{
    color:#36ceb9;
    font-size:15px;
}
.left_right_div{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
}
.left_right_div .left_title{
    width:90px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.left_right_div .right_cont,
.left_right_div_buy .right_cont{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: 18px;
}
.left_right_div .right_cont input,
.left_right_div .right_cont select{
    width: 100%;
}
.left_right_div_2{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
}
.left_right_div_2 .left_title{
    width:90px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.left_right_div input,.left_right_div select{
    /*width:300px;*/
    width: 81%;
    -webkit-box-flex: 2;
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2;
}
.left_right_div_2 input,.left_right_div_2 select, .left_right_div_2 textarea{
    width: 60%;
}
.left_right_div_2 textarea{
    overflow: hidden;
    max-width: 60%;
    min-height: 34px;
}
.mt_20{
    margin-top:20px;
}
.prompt{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left:10px;
}
.radio_diy{
    border:2px #36ceb9 solid;
    border-radius:60px;
    width:17px;
    height:17px;
    cursor:pointer;
}
.radio_div{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
}
.az_div{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    position: relative;
    top: 2px;
}
.radio_div .content{
    margin-left:10px;
    background:transparent;
    position:relative;
    top:-2px;
}
.twier_radio{
    margin-left:50px;
    margin-left: 5vw;
}
.radio_active{
    background:#36ceb9;
}
.xinxi_bc > div{
    margin-bottom:20px;
}
.xinxi_bc .btn_div{
    margin-bottom: 3vh;
}
.padd_20{
    padding-top:20px;
}
.warning{
    color:red;
}
.fwtk a{
    color:#36ceb9;
    text-decoration: underline;
    cursor: pointer;
}
.ml_20{
    margin-left:20px;
}
.yl_password{
    font-size:23px;
    border:0 !important;
    padding: 0;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px auto;
}
.down_list{
    position:absolute;
    top:60px;
    width:200px;
    background:white;
    border:1px #eee solid;
    text-align:center;
    font-size:13px;
}
.down_list > div:nth-child(1){
    border-bottom:1px #eee solid;
}
.down_list > div{
    width:100%;
    height:40px;
    line-height: 40px;
}
.displ_none{
    display:none;
}
.dropdown_list.open .more span{
    -webkit-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
            transform:rotate(180deg);
}
.cz_pz{
    width:45px;
    height: 44px;
    border:1px #36ceb9 dashed;
    border-radius:3px;
    margin-left:30px;
    cursor:pointer;
}
.cz_pz .add{
    color:#36ceb9;
    font-size: 40px;
    line-height: 44px;
    width:  45px;
    height: 44px;
    position:  relative;
    top: -1px;
    left: -1px;
    font-weight:  100;
    font-family: "宋体";
}
.pad_0{
    padding: 0;
}
.round{
    position: absolute;
    height: 94%;
    top: 1%;
    left: 47%;
    -webkit-transition: 5s ease;
    -o-transition: 5s ease;
    transition: 5s ease;
    -webkit-animation: 5s round infinite linear;
            animation: 5s round infinite linear
}
.point{
    position: absolute;
    height: 100%;
    top: 1%;
    left: 0%; -webkit-animation: 2s point infinite alternate linear; animation: 2s point infinite alternate linear
}
.navbar-default .navbar-nav .nav_li.active,
.navbar-header .nav_li.active{
    color: #36ceb9;
}
/*end*/
@-webkit-keyframes myanimation {
    0% {
        opacity: 1;
        top: 50%;
        left: 49%;
    }
    25% {
        top: 70%;
        left: 49%;
    }
    30% {
        top: 64%;
        left: 49%;
    }
    35% {
        top: 70%;
        left: 49%;
    }
    40% {
        top: 65%;
        left: 49%;
    }
    45% {
        top: 70%;
        left: 49%;
    }
    50% {
        top: 68%;
        left: 49%;
    }
    55% {
        top: 70%;
        left: 49%;
    }
    80% {
        opacity: 1;
    }
    100% {
        left: 29%;
        top: 65%;
        opacity: 0
    }
}
@keyframes myanimation {
    0% {
        opacity: 1;
        top: 50%;
        left: 49%;
    }
    25% {
        top: 70%;
        left: 49%;
    }
    30% {
        top: 64%;
        left: 49%;
    }
    35% {
        top: 70%;
        left: 49%;
    }
    40% {
        top: 65%;
        left: 49%;
    }
    45% {
        top: 70%;
        left: 49%;
    }
    50% {
        top: 68%;
        left: 49%;
    }
    55% {
        top: 70%;
        left: 49%;
    }
    80% {
        opacity: 1;
    }
    100% {
        left: 29%;
        top: 65%;
        opacity: 0
    }
}

@-webkit-keyframes myanimation2 {
    0% {
        opacity: 1;
        top: 50%;
        left: 49%;
    }
    25% {
        top: 70%;
        left: 49%;
    }
    30% {
        top: 64%;
        left: 49%;
    }
    35% {
        top: 70%;
        left: 49%;
    }
    40% {
        top: 65%;
        left: 49%;
    }
    45% {
        top: 70%;
        left: 49%;
    }
    50% {
        top: 68%;
        left: 49%;
    }
    55% {
        top: 70%;
        left: 49%;
    }
    60% {
        top: 68%;
        left: 45.375%;
    }
    65% {
        left: 41.75%;
    }
    70% {
        left: 38.125%;
    }
    75% {
        left: 34.5%;
    }
    80% {
        top: 65%;
        left: 30.875%;
    }
    85% {
        top: 62%;
        left: 27.25%;
    }
    90% {
        left: 23.625%;
        opacity: 1;
    }
    100% {
        left: 20%;
        top: 50%;
        opacity: 0
    }
}

@keyframes myanimation2 {
    0% {
        opacity: 1;
        top: 50%;
        left: 49%;
    }
    25% {
        top: 70%;
        left: 49%;
    }
    30% {
        top: 64%;
        left: 49%;
    }
    35% {
        top: 70%;
        left: 49%;
    }
    40% {
        top: 65%;
        left: 49%;
    }
    45% {
        top: 70%;
        left: 49%;
    }
    50% {
        top: 68%;
        left: 49%;
    }
    55% {
        top: 70%;
        left: 49%;
    }
    60% {
        top: 68%;
        left: 45.375%;
    }
    65% {
        left: 41.75%;
    }
    70% {
        left: 38.125%;
    }
    75% {
        left: 34.5%;
    }
    80% {
        top: 65%;
        left: 30.875%;
    }
    85% {
        top: 62%;
        left: 27.25%;
    }
    90% {
        left: 23.625%;
        opacity: 1;
    }
    100% {
        left: 20%;
        top: 50%;
        opacity: 0
    }
}

@-webkit-keyframes myanimation3 {
    0% {
        opacity: 1;
        top: 50%;
        left: 49%;
    }
    25% {
        top: 70%;
        left: 49%;
    }
    30% {
        top: 64%;
        left: 49%;
    }
    35% {
        top: 70%;
        left: 49%;
    }
    40% {
        top: 65%;
        left: 49%;
    }
    45% {
        top: 70%;
        left: 49%;
    }
    50% {
        top: 68%;
        left: 49%;
    }
    55% {
        top: 70%;
        left: 49%;
    }
    65% {
        top: 68%;
    }
    70% {
        top: 65%;
    }
    80% {
        top: 49%;
        left: 28%;
    }
    90% {
        opacity: 1;
    }
    100% {
        top: 33%;
        left: 34%;
        opacity: 0
    }
}

@keyframes myanimation3 {
    0% {
        opacity: 1;
        top: 50%;
        left: 49%;
    }
    25% {
        top: 70%;
        left: 49%;
    }
    30% {
        top: 64%;
        left: 49%;
    }
    35% {
        top: 70%;
        left: 49%;
    }
    40% {
        top: 65%;
        left: 49%;
    }
    45% {
        top: 70%;
        left: 49%;
    }
    50% {
        top: 68%;
        left: 49%;
    }
    55% {
        top: 70%;
        left: 49%;
    }
    65% {
        top: 68%;
    }
    70% {
        top: 65%;
    }
    80% {
        top: 49%;
        left: 28%;
    }
    90% {
        opacity: 1;
    }
    100% {
        top: 33%;
        left: 34%;
        opacity: 0
    }
}

@-webkit-keyframes myanimation4 {
    0% {
        opacity: 1;
        top: 50%;
        left: 49%;
    }
    25% {
        top: 70%;
        left: 49%;
    }
    30% {
        top: 64%;
        left: 49%;
    }
    35% {
        top: 70%;
        left: 49%;
    }
    40% {
        top: 65%;
        left: 49%;
    }
    45% {
        top: 70%;
        left: 49%;
    }
    50% {
        top: 68%;
        left: 49%;
    }
    55% {
        top: 70%;
        left: 49%;
    }
    80% {
        opacity: 1;
    }
    100% {
        top: 67%;
        left: 62%;
        opacity: 0
    }
}

@keyframes myanimation4 {
    0% {
        opacity: 1;
        top: 50%;
        left: 49%;
    }
    25% {
        top: 70%;
        left: 49%;
    }
    30% {
        top: 64%;
        left: 49%;
    }
    35% {
        top: 70%;
        left: 49%;
    }
    40% {
        top: 65%;
        left: 49%;
    }
    45% {
        top: 70%;
        left: 49%;
    }
    50% {
        top: 68%;
        left: 49%;
    }
    55% {
        top: 70%;
        left: 49%;
    }
    80% {
        opacity: 1;
    }
    100% {
        top: 67%;
        left: 62%;
        opacity: 0
    }
}

@-webkit-keyframes myanimation5 {
    0% {
        opacity: 1;
        top: 50%;
        left: 49%;
    }
    25% {
        top: 70%;
        left: 49%;
    }
    30% {
        top: 64%;
        left: 49%;
    }
    35% {
        top: 70%;
        left: 49%;
    }
    40% {
        top: 65%;
        left: 49%;
    }
    45% {
        top: 70%;
        left: 49%;
    }
    50% {
        top: 68%;
        left: 49%;
    }
    55% {
        top: 70%;
        left: 49%;
    }
    80% {
        top: 65%;
        left: 67.125%;
    }
    85% {
        top: 62%;
        left: 70.75%;
    }
    90% {
        left: 74.375%;
        opacity: 1;
    }
    100% {
        top: 59%;
        left: 76%;
        opacity: 0
    }
}

@keyframes myanimation5 {
    0% {
        opacity: 1;
        top: 50%;
        left: 49%;
    }
    25% {
        top: 70%;
        left: 49%;
    }
    30% {
        top: 64%;
        left: 49%;
    }
    35% {
        top: 70%;
        left: 49%;
    }
    40% {
        top: 65%;
        left: 49%;
    }
    45% {
        top: 70%;
        left: 49%;
    }
    50% {
        top: 68%;
        left: 49%;
    }
    55% {
        top: 70%;
        left: 49%;
    }
    80% {
        top: 65%;
        left: 67.125%;
    }
    85% {
        top: 62%;
        left: 70.75%;
    }
    90% {
        left: 74.375%;
        opacity: 1;
    }
    100% {
        top: 59%;
        left: 76%;
        opacity: 0
    }
}

@-webkit-keyframes myanimation6 {
    0% {
        opacity: 1;
        top: 50%;
        left: 49%;
    }
    25% {
        top: 70%;
        left: 49%;
    }
    30% {
        top: 64%;
        left: 49%;
    }
    35% {
        top: 70%;
        left: 49%;
    }
    40% {
        top: 65%;
        left: 49%;
    }
    45% {
        top: 70%;
        left: 49%;
    }
    50% {
        top: 68%;
        left: 49%;
    }
    55% {
        top: 70%;
        left: 49%;
    }
    65% {
        top: 68%;
    }
    70% {
        top: 65%;
    }
    80% {
        top: 49%;
        left: 70%;
    }
    90% {
        opacity: 1;
    }
    100% {
        top: 39%;
        left: 68%;
        opacity: 0
    }
}

@keyframes myanimation6 {
    0% {
        opacity: 1;
        top: 50%;
        left: 49%;
    }
    25% {
        top: 70%;
        left: 49%;
    }
    30% {
        top: 64%;
        left: 49%;
    }
    35% {
        top: 70%;
        left: 49%;
    }
    40% {
        top: 65%;
        left: 49%;
    }
    45% {
        top: 70%;
        left: 49%;
    }
    50% {
        top: 68%;
        left: 49%;
    }
    55% {
        top: 70%;
        left: 49%;
    }
    65% {
        top: 68%;
    }
    70% {
        top: 65%;
    }
    80% {
        top: 49%;
        left: 70%;
    }
    90% {
        opacity: 1;
    }
    100% {
        top: 39%;
        left: 68%;
        opacity: 0
    }
}

@-webkit-keyframes my1 {
    0% {
        opacity: 1;
        top: 50%;
        left: 49%;
    }
    25% {
        top: 70%;
        left: 49%;
    }
    30% {
        top: 64%;
        left: 49%;
    }
    35% {
        top: 70%;
        left: 49%;
    }
    40% {
        top: 65%;
        left: 49%;
    }
    45% {
        top: 70%;
        left: 49%;
    }
    50% {
        top: 68%;
        left: 49%;
    }
    55% {
        top: 70%;
        left: 49%;
    }
    80% {
        opacity: 1;
    }
    100% {
        left: 29%;
        top: 65%;
        opacity: 0
    }
}

@keyframes my1 {
    0% {
        opacity: 1;
        top: 50%;
        left: 49%;
    }
    25% {
        top: 70%;
        left: 49%;
    }
    30% {
        top: 64%;
        left: 49%;
    }
    35% {
        top: 70%;
        left: 49%;
    }
    40% {
        top: 65%;
        left: 49%;
    }
    45% {
        top: 70%;
        left: 49%;
    }
    50% {
        top: 68%;
        left: 49%;
    }
    55% {
        top: 70%;
        left: 49%;
    }
    80% {
        opacity: 1;
    }
    100% {
        left: 29%;
        top: 65%;
        opacity: 0
    }
}

@-webkit-keyframes my2 {
    0% {
        opacity: 1;
        top: 50%;
        left: 49%;
    }
    25% {
        top: 70%;
        left: 49%;
    }
    30% {
        top: 64%;
        left: 49%;
    }
    35% {
        top: 70%;
        left: 49%;
    }
    40% {
        top: 65%;
        left: 49%;
    }
    45% {
        top: 70%;
        left: 49%;
    }
    50% {
        top: 68%;
        left: 49%;
    }
    55% {
        top: 70%;
        left: 49%;
    }
    60% {
        top: 68%;
        left: 45.375%;
    }
    65% {
        left: 41.75%;
    }
    70% {
        left: 38.125%;
    }
    75% {
        left: 34.5%;
    }
    80% {
        top: 65%;
        left: 30.875%;
    }
    85% {
        top: 62%;
        left: 27.25%;
    }
    90% {
        left: 23.625%;
        opacity: 1;
    }
    100% {
        left: 20%;
        top: 50%;
        opacity: 0
    }
}

@keyframes my2 {
    0% {
        opacity: 1;
        top: 50%;
        left: 49%;
    }
    25% {
        top: 70%;
        left: 49%;
    }
    30% {
        top: 64%;
        left: 49%;
    }
    35% {
        top: 70%;
        left: 49%;
    }
    40% {
        top: 65%;
        left: 49%;
    }
    45% {
        top: 70%;
        left: 49%;
    }
    50% {
        top: 68%;
        left: 49%;
    }
    55% {
        top: 70%;
        left: 49%;
    }
    60% {
        top: 68%;
        left: 45.375%;
    }
    65% {
        left: 41.75%;
    }
    70% {
        left: 38.125%;
    }
    75% {
        left: 34.5%;
    }
    80% {
        top: 65%;
        left: 30.875%;
    }
    85% {
        top: 62%;
        left: 27.25%;
    }
    90% {
        left: 23.625%;
        opacity: 1;
    }
    100% {
        left: 20%;
        top: 50%;
        opacity: 0
    }
}

@-webkit-keyframes my3 {
    0% {
        opacity: 1;
        top: 50%;
        left: 49%;
    }
    25% {
        top: 70%;
        left: 49%;
    }
    30% {
        top: 64%;
        left: 49%;
    }
    35% {
        top: 70%;
        left: 49%;
    }
    40% {
        top: 65%;
        left: 49%;
    }
    45% {
        top: 70%;
        left: 49%;
    }
    50% {
        top: 68%;
        left: 49%;
    }
    55% {
        top: 70%;
        left: 49%;
    }
    65% {
        top: 68%;
    }
    70% {
        top: 65%;
    }
    80% {
        top: 49%;
        left: 28%;
    }
    90% {
        opacity: 1;
    }
    100% {
        top: 33%;
        left: 34%;
        opacity: 0
    }
}

@keyframes my3 {
    0% {
        opacity: 1;
        top: 50%;
        left: 49%;
    }
    25% {
        top: 70%;
        left: 49%;
    }
    30% {
        top: 64%;
        left: 49%;
    }
    35% {
        top: 70%;
        left: 49%;
    }
    40% {
        top: 65%;
        left: 49%;
    }
    45% {
        top: 70%;
        left: 49%;
    }
    50% {
        top: 68%;
        left: 49%;
    }
    55% {
        top: 70%;
        left: 49%;
    }
    65% {
        top: 68%;
    }
    70% {
        top: 65%;
    }
    80% {
        top: 49%;
        left: 28%;
    }
    90% {
        opacity: 1;
    }
    100% {
        top: 33%;
        left: 34%;
        opacity: 0
    }
}

@-webkit-keyframes my4 {
    0% {
        opacity: 1;
        top: 50%;
        left: 49%;
    }
    25% {
        top: 70%;
        left: 49%;
    }
    30% {
        top: 64%;
        left: 49%;
    }
    35% {
        top: 70%;
        left: 49%;
    }
    40% {
        top: 65%;
        left: 49%;
    }
    45% {
        top: 70%;
        left: 49%;
    }
    50% {
        top: 68%;
        left: 49%;
    }
    55% {
        top: 70%;
        left: 49%;
    }
    80% {
        opacity: 1;
    }
    100% {
        top: 67%;
        left: 62%;
        opacity: 0
    }
}

@keyframes my4 {
    0% {
        opacity: 1;
        top: 50%;
        left: 49%;
    }
    25% {
        top: 70%;
        left: 49%;
    }
    30% {
        top: 64%;
        left: 49%;
    }
    35% {
        top: 70%;
        left: 49%;
    }
    40% {
        top: 65%;
        left: 49%;
    }
    45% {
        top: 70%;
        left: 49%;
    }
    50% {
        top: 68%;
        left: 49%;
    }
    55% {
        top: 70%;
        left: 49%;
    }
    80% {
        opacity: 1;
    }
    100% {
        top: 67%;
        left: 62%;
        opacity: 0
    }
}

@-webkit-keyframes my5 {
    0% {
        opacity: 1;
        top: 50%;
        left: 49%;
    }
    25% {
        top: 70%;
        left: 49%;
    }
    30% {
        top: 64%;
        left: 49%;
    }
    35% {
        top: 70%;
        left: 49%;
    }
    40% {
        top: 65%;
        left: 49%;
    }
    45% {
        top: 70%;
        left: 49%;
    }
    50% {
        top: 68%;
        left: 49%;
    }
    55% {
        top: 70%;
        left: 49%;
    }
    80% {
        top: 65%;
        left: 67.125%;
    }
    85% {
        top: 62%;
        left: 70.75%;
    }
    90% {
        left: 74.375%;
        opacity: 1;
    }
    100% {
        top: 59%;
        left: 76%;
        opacity: 0
    }
}

@keyframes my5 {
    0% {
        opacity: 1;
        top: 50%;
        left: 49%;
    }
    25% {
        top: 70%;
        left: 49%;
    }
    30% {
        top: 64%;
        left: 49%;
    }
    35% {
        top: 70%;
        left: 49%;
    }
    40% {
        top: 65%;
        left: 49%;
    }
    45% {
        top: 70%;
        left: 49%;
    }
    50% {
        top: 68%;
        left: 49%;
    }
    55% {
        top: 70%;
        left: 49%;
    }
    80% {
        top: 65%;
        left: 67.125%;
    }
    85% {
        top: 62%;
        left: 70.75%;
    }
    90% {
        left: 74.375%;
        opacity: 1;
    }
    100% {
        top: 59%;
        left: 76%;
        opacity: 0
    }
}

@-webkit-keyframes my6 {
    0% {
        opacity: 1;
        top: 50%;
        left: 49%;
    }
    25% {
        top: 70%;
        left: 49%;
    }
    30% {
        top: 64%;
        left: 49%;
    }
    35% {
        top: 70%;
        left: 49%;
    }
    40% {
        top: 65%;
        left: 49%;
    }
    45% {
        top: 70%;
        left: 49%;
    }
    50% {
        top: 68%;
        left: 49%;
    }
    55% {
        top: 70%;
        left: 49%;
    }
    65% {
        top: 68%;
    }
    70% {
        top: 65%;
    }
    80% {
        top: 49%;
        left: 70%;
    }
    90% {
        opacity: 1;
    }
    100% {
        top: 39%;
        left: 68%;
        opacity: 0
    }
}

@keyframes my6 {
    0% {
        opacity: 1;
        top: 50%;
        left: 49%;
    }
    25% {
        top: 70%;
        left: 49%;
    }
    30% {
        top: 64%;
        left: 49%;
    }
    35% {
        top: 70%;
        left: 49%;
    }
    40% {
        top: 65%;
        left: 49%;
    }
    45% {
        top: 70%;
        left: 49%;
    }
    50% {
        top: 68%;
        left: 49%;
    }
    55% {
        top: 70%;
        left: 49%;
    }
    65% {
        top: 68%;
    }
    70% {
        top: 65%;
    }
    80% {
        top: 49%;
        left: 70%;
    }
    90% {
        opacity: 1;
    }
    100% {
        top: 39%;
        left: 68%;
        opacity: 0
    }
}
@-webkit-keyframes round{
    from{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@keyframes round{
    from{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@-webkit-keyframes point{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes point{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}