body {
    background: #f4f7f9
}

.infoslider {
    height: 600px;
    overflow: hidden;
}

.infoslider img {
    width: 100%;
    height: 100%
}
.country .country1{
   color:#797979;
}
.infoself .content {
    background: #ffffff;
    padding: 25px 25px 0;
    margin-top: 50px;
    margin-bottom: 25px;
}

.infoself .content .info_nav {
    border-bottom: 1px solid #dcdcdc
}

.infoself .content .info_nav li:hover {
    border-bottom: 2px solid #36ceb9;
    color: #36ceb9
}

.infoself .content .info_nav li {
    cursor: pointer;
    float: left;
    padding-bottom: 14px;
    margin-right: 35px;
}

.infoself .content .info_nav li.active {
    border-bottom: 2px solid #36ceb9;
    color: #36ceb9
}

.information{
    overflow: hidden;
    background-color: #f5f5f5;
}
.information_content{
    background-color: #fff;
    margin-bottom: 0;
}
.information_content .contents{
    padding: 20px 0 0 30px;
}
.contactinfo .right,
.accountuser .right{
    cursor:pointer;
    color:rgb(54, 206, 185);
}
.info_tab li.row{
    padding: 15px 0;
    color: #747474;
    cursor: pointer;
}
.infoself .content .info_tab {
    padding: 0 25px;
    margin-bottom: 0
}
.info_tab .row .fa-angle-right{
    float: right;
    line-height: 20px;
    font-size: 25px;
}
.info_tab .row .title{
    background-position: 0 100%;
    background-size: 20% 90%;
}
.infoself .content .info_tab>li {}

.infoself .content .info_tab>li .title {
    font-size: 16px;
}
.infoself .content .info_tab .userinfo .title {
    float: left;
    padding-left: 36px;
    background: url('../image/info_user_no.png') no-repeat;
}

.infoself .content .info_tab .contactinfo .title {
    padding-left: 36px;
    background: url('../image/info_audio_no.png') no-repeat 1px 3px;
}

.infoself .content .info_tab .accountuser .title {
    padding-left: 36px;
    background: url('../image/info_iduser_no.png') no-repeat 1px 5px;
}
.info_tab li.row.active{
    color: #36ceb9;
}
.info_tab li.userinfo.active .title{
    background: url("../image/info_user.png") no-repeat !important;
}
.info_tab li.contactinfo.active .title{
    background: url("../image/info_audio.png") no-repeat 1px 3px !important;
}
.info_tab li.accountuser.active .title{
    background: url("../image/info_iduser.png") no-repeat 1px 5px !important;
}

.infoself .content .info_content>li>ul>li.childuser>div:last-child div {
    color: #797979;
}
.info_content .title{
    font-size: 30px;
    color: #36ceb9;
    padding-left: 15px;
}
.infoself .content .info_content>li .infolist {
    padding: 34px 0 20px 0;
    margin-bottom: 20px;
}

.infoself .content .info_content>li .infolist1 {
    padding: 34px 0 20px 0;
    border-bottom: 1px dashed #f3f3f3;
}

.infoself .content .info_content>li .infolist1 .text {
    margin-bottom: 20px;
}

.infoself .content .info_content>li .infolist1:last-child {
    border-bottom: none;
}

.infoself .content .info_content>li>ul>li {
    font-size: 15px;
    float: left;
    padding: 20px 0;
    border-bottom: 1px solid #f5f5f5;
    /* width: 33%; */
}
.infoself .content .info_content>li>ul>li:last-child{
    border-bottom: none;
}
.infoself .content #navbar-example>div.container {
    width: auto;
}

.leave {
    background: url('../image/info_leave.png') no-repeat;
    background-size: 21px;
    display: inline-block;
    width: 23px;
    height: 15px;
}

.childuser>div:first-child {
    display: inline-block;
    vertical-align: top;
}

.childuser>div:last-child {
    width: 55%;
}

.childuser>div>div {
    display: inline-block;
    padding: 0 30px 19px 0;
    margin-right: 50px;
    background: url('../image/info_leave.png') no-repeat top right;
    background-size: 21px;
    color: #797979;
}

/*.infoself .content .info_content>li>ul>li.other {
    width: 100%
}*/

.infoself .content .info_content>li>ul>li.other1 {
    width: 67%
}

.infoself .content .info_content>li>ul>li.other2 {
    width: 50%
}

.infoself .content .info_content>li>ul>li>span:last-child,
.infoself .content .info_content>li>ul>li>div:last-child,
.marl_cont {
    color: #797979;
    margin-left: 24px;
}
.tabletop{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 10px;
}
.PurchaseHistory .tabletop{
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.PurchaseHistory{
    margin-bottom: 10px;
    display: none;
}
.PurchaseHistory .PurchaseHistory_activation{
    display: none;
}
.tab-group .btn{
    border: 1px solid #0de0c0;
    color: #0de0c0;
    display: inline-block;
    border-radius: 25px;
    padding: 4px 15px;
}
.tab-group .btn.active{
    background-color: #0de0c0;
    color: #fff;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.button-group .btn{
    padding: 0;
    border-radius: 0;
}
.button-group{
    height: 32px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-radius: 4px;
    border: 1px solid #11dcc1;
    position: relative;
}
.button-group .refresh{
    background-color: #11dcc1;
    border: none;
}
.button-group .more{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: #11dcc1;
    height: 100%;
    width: 60px;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}
.button-group .export{
    width: 60px;
    border-left: 1px solid #11dcc1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    position: relative;
}
.export.btn div{
    -webkit-box-flex: 2;
}
.export.btn ul{
    right: 0;
    left: -170%;
}
.button-group ul li {
    text-align: center;
}
.LoginLog, .Loan, .Backfill{
    display: none;
}
.table-responsive thead tr {
    text-align: center;
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#0edec0), to(#22c8c8));
    background: -webkit-linear-gradient(top, #0edec0, #22c8c8);
    background: -o-linear-gradient(top, #0edec0, #22c8c8);
    background: linear-gradient(to bottom, #0edec0, #22c8c8);
}
.table-responsive thead tr th, .table-responsive tbody tr th {
    text-align: center;
    vertical-align: middle;
}
.table-responsive tbody tr td{
    vertical-align: middle;
    text-align: center;
}
.table-responsive .tablespanimg {
    width: 24px;
    height: 24px;
    background-image: url(../image/v.png);
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}
.table-responsive .tablespantext {
    color: #ffae00;
    margin-left: -5px;
}
.tabledata {
    text-align: right;
}
.table-responsive .morebtn {
    background-color: #15d7c3;
    color: #fff;
    border-radius: 20px;
    padding: 6px 15px;
}
.table-responsive{
    border: none;
}
.table-bordered{
    overflow: hidden;
    border-radius: 20px;
    border-spacing: 0px;
    border: none;
    -webkit-box-shadow: inset 0 0 0 1px #a4eae0;
            box-shadow: inset 0 0 0 1px #a4eae0;
    border-collapse: separate;
}
.table-responsive thead tr th {
   color:#ffffff;
   border: 1px solid #a4eae0;
}
.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td {
    border: 1px solid #a4eae0;
}
.table-responsive th{
    white-space: nowrap;
}
.modal#myModal .modal-dialog, .modal#myModal2 .modal-dialog{
    /*position: relative;
    top: calc(50% / 2);*/
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -123.5px;
}
@media screen and (min-width: 320px) {
    .info_content .container {
        width: auto;
    }
    /*.infoself .content .info_content>li>ul>li {
        width: 100%
    }*/
    .infoself .content .info_content>li>ul>li>span:last-child,
    .infoself .content .info_content>li>ul>li>div:last-child,
    .marl_cont{
        margin-left: 6px;
    }
    /*.infoself .content .info_content>li>ul>li.other {
        width: 100%
    }*/
    .infoself .content .info_content>li>ul>li.other1 {
        width: 67%
    }
    .infoself .content .info_content>li>ul>li.other2 {
        width: 50%
    }
    .infoself .content .info_content>li>ul>li.address span:first-child {
        float: left;
    }
    .infoself .content .info_content>li>ul>li.address span:last-child {
        /*margin-left: 75px;
        display: block;*/
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .infoslider {
        height: 315px;
    }
}

@media screen and (min-width: 480px) {
    .info_content .container {
        width: auto;
    }
    .infoself .content .info_content>li>ul>li>span:last-child,
    .infoself .content .info_content>li>ul>li>div:last-child,
    .marl_cont{
        margin-left: 6px;
    }
    /*.infoself .content .info_content>li>ul>li {
        width: 50%
    }*/
    .infoself .content .info_content>li>ul>li.bankuser {
        width: 100%
    }
    .infoself .content .info_content>li>ul>li.address {
        width: 100%
    }
    /*.infoself .content .info_content>li>ul>li.address span:first-child {
        float: none;
    }*/
    .infoself .content .info_content>li>ul>li.address span:last-child {
        margin-left: 6px;
        display: inline;
    }
}

@media screen and (min-width: 640px) {
    .info_content .container {
        width: auto;
    }
    .infoself .content .info_content>li>ul>li>span:last-child,
    .infoself .content .info_content>li>ul>li>div:last-child,
    .marl_cont{
        margin-left: 24px;
    }
    /*.infoself .content .info_content>li>ul>li {
        width: 33.33%;
    }*/
    .infoself .content .info_content>li>ul>li.other {
        width: none
    }
    .infoself .content .info_content>li>ul>li.other1 {
        width: none
    }
    .infoself .content .info_content>li>ul>li.other2 {
        width: none
    }
    /*.infoself .content .info_content>li>ul>li.bankname,
    .infoself .content .info_content>li>ul>li.username {
        width: 50%
    }*/
    /*.infoself .content .info_content>li>ul>li.bankuser,
    .infoself .content .info_content>li>ul>li.sexy,
    .infoself .content .info_content>li>ul>li.realname,
    .infoself .content .info_content>li>ul>li.country {
        width: 50%
    }*/
    /*.infoself .content .info_content>li>ul>li.email {
        width: 100%;
    }*/
    /*.infoself .content .info_content>li>ul>li.address {
        width: 100%
    }*/
    .infoself .content .info_content>li>ul>li.address span:last-child {
        margin-left: 24px;
        display: inline;
    }
    .infoslider {
        height: 410px;
    }
}

@media screen and (min-width: 768px) {
    .info_content .container {
        width: auto;
    }
    /*.infoself .content .info_content>li>ul>li.bankname,
    .infoself .content .info_content>li>ul>li.username,
    .infoself .content .info_content>li>ul>li.bankuser {
        width: 50%
    }*/
    /*.infoself .content .info_content>li>ul>li.sexy,
    .infoself .content .info_content>li>ul>li.realname {
        width: 33%
    }*/
    /*.infoself .content .info_content>li>ul>li.email {
        width: 33%;
    }*/
    /*.infoself .content .info_content>li>ul>li.address {
        width: 66.67%
    }*/
    .infoslider {
        height: 505px;
    }
    #vip_detail .btn_cent{
        width:860px;
        position: absolute;
        left: 50%;
        margin-left: -430px;
    }
}

@media screen and (min-width: 1200px) {
    .info_content .container {
        width: auto;
    }
    /*.infoself .content .info_content>li>ul>li.bankname,
    .infoself .content .info_content>li>ul>li.username,
    .infoself .content .info_content>li>ul>li.bankuser {
        width: 33.33%
    }*/
    .infoslider {
        height: 600px;
    }
}