.tree {
    min-height:20px;
    padding:19px !important;
    margin-bottom:20px;
    background-color: white;
    /* border:1px solid #999; */
    /* -webkit-border-radius:4px; */
    -moz-border-radius:4px;
    /* border-radius:4px; */
    /* -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05); */
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    /* box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05); */
    box-shadow:  none;
    border: none;
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px !important;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left: 2px solid #0de0c0;
    bottom:50px;
    height:100%;
    top: -3px;
    width: 3px;
}
.tree li::after {
    border-top: 2px solid #0de0c0;
    height:20px;
    top:25px;
    width:25px;
}
.tree li > span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border: 1px solid #0de0c0;
    border-radius:5px;
    display:inline-block;
    padding: 6px 14px !important;
    text-decoration:none;
    display:  inline-block;
    color: #0de0c0;
    margin: 0 3px 0 0;
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    opacity: .8;
}
.pad-left0{
    padding-left:0;
}
.icon_yuan{
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    display:  inline-block;
    position:  relative;
    top: 3px;
    color:#0de0c0;
    text-align:center;
}
span.bg_color{
    padding-left:5px;
    background-color: #0de0c0;
    color:white;
}
.icon_yuan > .jian_icon{
    position: relative;
    top:-3.5px;
}
.icon_yuan > .down_icon{
    position: relative;
    top:-2.5px;
    left:-1px;
}
.down_icon{
    transform:rotate(90deg);
}
.tabletop{
    position: relative;
}
.table-responsive .v_img{
    width: 16px;
    height: 13px;
    background-image: url(../image/_v.png);
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}
.table-responsive .level{
    margin-left: -5px;
}
.tree_search{
    position: absolute;
    right: 0px;
    top: -10px;
}
.search_input{
    padding-right: 30px;
    border: 1px solid #dcdcdc;
}
.sreach_button{
    background-image: url(../image/search.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 26px;
    height: 26px;
    right: 5px;
    position: absolute;
    top: 4px;
}
.sreach_button:hover{
    cursor: pointer;
}
.tree .bg_color{
    color: #fff;
}
#rootUL{
    padding-left: 0;
}
.tree ul{
    padding-left: 40px;
}
.place{
    display: none;
    text-align: center;
}
.table-responsive tr > td{
    border: none;
}
.orgchart {
  background: #fff;
  border: 0;
  padding: 0;
}
.orgchart .register{
    padding: 10px 0;
}
.demo img{
    float: left;
}
.demo .text{
    display: inline-block;
}
.demo .text .price{
    color: #ffdf47;
}
.demo .text .status{
    color: #ffdf47;
    text-align: left;
}
.demo.level_6 .text .status{
    color: #fff;
}
@media screen and (max-width: 768px){
    .tree_search{
        display: none;
    }
}