@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

a {
    text-decoration: none;
}

.main .slider {
    background-image: url("../image/wallet-infobg.png");
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    height: 596px;
}

.top .nav > div:first-child {
    margin: 0 25px 0 0;
}

.top .banner {
    margin: 0;
}

.content {
    background-color: #f4f7f9;
    /*overflow: hidden;*/
}

.content:before,
.content:after {
    display: table;
    content: " ";
}

.content .contenttop {
    background-image: url("../image/wallet-infobg2.png");
    -webkit-background-size: cover;
            background-size: cover;
    overflow: hidden;
    margin-bottom: 20px;
}

.content .contentwarp {
    height: 190px;
    color: #fff;
    position: relative;
}

.content .contentwarp .linehr {
    position: absolute;
    border-left: 1px solid #0de0c0;
    border-right: 1px solid #0de0c0;
    width: 1px;
    height: 40px;
    right: 0;
    top: 75px;
}

.content .contentwarp .contentmiddle {
    margin: 70px 0;
    /* height: 40px; */
    /* border-left: 1px solid #0de0c0; */
    /* border-right: 1px solid #0de0c0; */
    height: 50px;
    overflow: hidden;
}

.content .contentwarp .contentmiddle2 {
    margin: 80px 0;
    overflow: hidden;
}

.content .contentwarp .contentmiddle:before,
.content .contentwarp .contentmiddle:after {
    display: table;
    content: " ";
}

.content .contentwarp .contentmiddle .spanwarp {
    padding-bottom: 10px;
}

.content .contentwarp .contentmiddle .spanwarp span {
    font-size: 16px;
}

.content .contentwarp h3 {
    padding: 10px 0;
}

.content .contentwarp p {
    font-size: 18px;
    padding: 10px 0;
}

.content .contentwarp .btn,
.table_warp .warp_btn{
    background-color: #0de0c0;
    -webkit-border-radius: 25px;
            border-radius: 25px;
    font-size: 14px;
    color: #fff;
    margin: 0 10px 0 0;
    padding: 6px 16px;
    line-height: 14px;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.content .contentwarp .btn:hover {
    background-color: #32cdb7;
}

.content .contenttable {
    margin: 20px auto;
    background: #ffffff;
    padding: 20px 10px;
}

.content .contenttable .tabletop .tabletop1 {
    border-bottom: 1px solid #dcdcdc;
}

.content .contenttable .tabletop .tabletop1{
    overflow: hidden;
    margin-bottom: 20px;
}

.content .contenttable:before,
.content .contenttable:after,
.content .contenttable .tabletop .tabletop1:before,
.content .contenttable .tabletop .tabletop1:after{
    display: table;
    content: " ";
}

.content .contenttable .tabletop .tabletop1 .title {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    cursor: pointer;
    padding-bottom: 10px;
    text-align: center;
    white-space: pre;
}

.content .contenttable .tabletop .tabletop1 .title:hover {
    border-bottom: 2px solid #0de0c0;
    color: #0de0c0 !important;
}

.content .contenttable .tabletop .tabletop1 .title.active {
    border-bottom: 2px solid #0de0c0;
    color: #0de0c0 !important;
}
.tabletop2_mobile{
    position: relative;
    display: none;
}
.tabletop2_mobile .button-group{
    right: 10%;
    margin: 10px 0;
    width: 152px;
    float: right;
}
.content .contenttable .tabletop .tabletop2 .tab-group .btn,
.tabletop2_mobile .tab-group-mobile .tab_btn{
    border: 1px solid #32cdb7;
    -webkit-border-radius: 25px;
            border-radius: 25px;
    color: #32cdb7;
    margin: 0 15px;
}
.tabletop2_mobile .tab-group-mobile .tab_btn{
    margin: 10px 3px;
}
.content .contenttable .tabletop .tabletop2 .tab-group .btn:hover,
.tabletop2_mobile .tab-group-mobile .tab_btn:hover{
    background: #32cdb7;
    color: #fff;
}

.content .contenttable .tabletop .tabletop2 .tab-group .btn.active,
.tabletop2_mobile .tab-group-mobile .tab_btn.active{
    background: #32cdb7;
    color: #fff;
}

.table-responsive tr > th,
.table-responsive tr > td {
    text-align: center;
    border: 1px solid #a4eae0;
    white-space: nowrap;
}
.supporting .table-responsive thead tr {
    /*background: #32cdb7;*/
}
.supporting .table-responsive thead tr th {
   color:#ffffff;
   border: 1px solid #a4eae0;
}
.table-responsive{
    border: none;
    -webkit-overflow-scrolling: touch;
}
.table-bordered{
    /*overflow: hidden;*/
    /*border-radius: 20px;*/
    /*border-spacing: 0px;*/
    border: none;
    /*-webkit-box-shadow: inset 0 0 0 1px #a4eae0;*/
            /*box-shadow: inset 0 0 0 1px #a4eae0;*/
    border-collapse: separate;
}

.table-responsive thead th {
    color: #867b88;
    /*background-image: linear-gradient(to bottom, #0fddc1 60%, #21c8c7 100%);*/
}

.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td {
    border: 1px solid #a4eae0;
}

/*.table-bordered > thead > tr > th{*/
/*border-bottom: 1px solid #a4eae0;*/

/*}*/

/*.table-responsive > tbody > td {*/
/*border: 1px solid #a4eae0;*/
/*}*/

.table-responsive .logbtn {
    background-color: #15d7c3;
    color: #fff;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    padding: 6px 15px;
}

.table-responsive .logbtn a {
    color: #fff;
    display: block;
}

.content .contenttable .tabletop .tabledata {
    float: right;
    padding-right: 15px;
}

.footer .hr {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #15d7c3;
}

.footer p {
    padding-bottom: 20px;
}

.footer .textby {
    padding: 50px 0 0;
}

.footer .big {
    font-size: 36px;
}
.tabletop2{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
}
.tabletop2.no_button{
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.tab-group .btn{
    border: 1px solid #0de0c0;
    color: #0de0c0;
    display: inline-block;
    -webkit-border-radius: 25px;
            border-radius: 25px;
    padding: 4px 15px;
}
.tab-group .btn.active{
    background-color: #0de0c0;
    color: #fff;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.button-group .btn{
    padding: 0;
    -webkit-border-radius: 0;
            border-radius: 0;
}
.button-group{
    height: 32px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    border: 1px solid #11dcc1;
    position: relative;
}
.button-group .refresh,
.button-group .view,
.button-group .plus{
    background-color: #11dcc1;
    border: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    right: 1px;
}
.button-group .plus{
    padding: 5px;
}
.button-group .plus i{
    color: #fff;
}
.button-group .more{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: #11dcc1;
    height: 100%;
    width: 60px;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}
.button-group .export{
    width: 60px;
    border-left: 1px solid #11dcc1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    position: relative;
}
.export.btn ul{
    right: 0;
    left: -170%;
}
.export.btn div{
    -webkit-box-flex: 2;
}
.button-group ul li {
    text-align: center;
}
.table-responsive thead tr {
    text-align: center;
    color: #fff;
}
.table-responsive thead tr th{
    color: #fff;
    border: 1px solid #a4eae0;
    background: #22c8c8;
    background: -webkit-gradient(linear, left top, left bottom, from(#0edec0), to(#22c8c8));
    background: -webkit-linear-gradient(top, #0edec0, #22c8c8);
    background: -o-linear-gradient(top, #0edec0, #22c8c8);
    background: linear-gradient(to bottom, #0edec0, #22c8c8);
}
.table-bordered tr.negative td{
    color: #e80000;
}
.wallet .RegisterLog, 
.wallet .ConsumptionWallet,
.wallet .ChainWallet,
.recharge,
.transfer,
.withdraw{
    display: none;
}
.bonus,
.bonus .Recommend,
.bonus .Performance,
.bonus .BackFeeding,
.bonus .Management,
.bonus .Dividends{
    display: none;
}
.bonus .settle,
.modal .settle{
    color: #2486b9;
}
.bonus .status .settle{
    color: #2486b9;
}
.withdraw .status .success{
    color: #64dcd0;
    background-color: #fff;
}
.withdraw .status .fail{
    color: #ffb464;
}
.mobile_no_button{
    display: none;
}
.search input{
    width: 185px;
    display: inline-block;
}
.search .search_button{
    padding: 6px 0px 6px 11px;
    background-color: #0de0c0;
    color: #fff;
    letter-spacing: 13px;
}
.choose_time{
    display: inline-block;
}
.choose_time .time{
    background-image: url("../image/date.png");
    background-repeat:no-repeat;
    background-position: 12px center;
    padding-left: 50px;
    display: inline-block;
}
.choose_time span{
    display: inline-block;
}
.choose_time span hr{
    padding: 0 7px;
    border-top: 2px solid #dcdcdc;
    margin: 0;
    position: relative;
    top: -3px;
}
@media screen and (min-width: 320px) {
    /*.top .nav, .bannerCilent, .plateadv-con, .footer-con, .banner .title, .operaconc .container, .navcol_s #navbar-example .container {*/
    /*width: 285px;*/
    /*}*/

    .banner .title {
        width: auto;
        padding-right: 15px;
        padding-left: 15px;
    }

    .main .slider {
        padding-top: 0;
        height: 116px;
    }

    .content .contentwarp {
        height: 190px;
        text-align: center;
    }

    .content .contentwarp .contentmiddle {
        margin: 20px 0;
        height: auto;
    }

    .content .contentwarp .contentmiddle2 {
        margin: 0;
        margin-bottom: 20px;
    }

    .content .contentwarp .linehr {
        display: none;
    }

    .content .contenttable .tabletop .tabletop1 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .content .contenttable .tabletop .tabletop2 .tab-group .btn {
        margin: 10px 5px;
        display: inline-block;
    }

    .content .contenttable .tabletop .tabledata {
        padding-top: 10px;
        text-align: center;
    }

    .footer .textby {
        padding: 0;
    }

    .footer {
        padding-top: 25px;
    }

    .content .contentwarp .contentmiddle2 .btn {
        margin: 10px auto;
        width: 50%;
    }
}

@media screen and (min-width: 640px) {
    .navcol_s #navbar-example .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (min-width: 768px) {
    .content .contenttable .tabletop .tabletop1{
        display: block;
        overflow: auto;
    }
    .banner .title {
        width: 720px;
        padding-left: 0;
        padding-right: 0;
    }

    .navcol_s #navbar-example .container {
        width: 720px;
    }

    .main .slider {
        height: 317px;
        padding: 0;
    }

    .top .nav > div:first-child,
    .top .nav > div > div {
        margin: 0 14px 0 0;
    }


    .content .contentwarp {
        height: 190px;
        text-align: center;
    }

    .content .contentwarp .contentmiddle {
        margin: 20px 0;
        height: auto;
    }

    .content .contentwarp .contentmiddle .spanwarp {
        padding-top: 10px;
    }

    .content .contentwarp .linehr {
        display: none;
    }

    .content .contentwarp .contentmiddle2 {
        margin: 0;
        margin-bottom: 20px;
    }

    .content .contenttable .tabletop .tabletop1 {
        display: block;
    }

    .content .contenttable .tabletop .tabletop2 .tab-group .btn {
        display: inline-block;
        margin: 0 15px 0 0;
    }

    .content .contenttable .tabletop .tabledata {
        padding-top: 0;
        text-align: auto;
    }


    .footer .textby {
        padding: 25px 0 0;
    }

    .content .contentwarp .contentmiddle2 .btn {
        margin: 10px auto;
        width: 50%;
    }
    .choose_time {
        padding-left: 24px;
    }
    .search .search_button {
        margin-left: 27px;
    }
    .recharge_dialog .btn_cent{
        max-width: 500px;
        position: absolute !important;
        left: 50%;
        margin-left: -250px;
    }
    .withdrawal_dialog .btn_cent{
        position: absolute;
        left: 50%;
        margin-left: -240px;
    }
    #onlineWithdrawal .btn_cent{
        max-width: 500px;
        position:absolute !important;
        left:50%;
        margin-left:-250px;

    }
    #onlineWithdrawal_deatil .btn_cent{
        max-width: 500px;
        position:absolute !important;
        left:50%;
        margin-left:-250px;
    }
    #onlineTransfer .btn_cent{
        max-width: 500px;
        position:absolute !important;
        left:50%;
        margin-left:-250px;

    }
    #onlineTransfer_deatil .btn_cent{
        max-width: 500px;
        position:absolute !important;
        left:50%;
        margin-left:-250px;
    }
    #onlineCollectMoney .btn_cent{
        max-width: 500px;
        position:absolute !important;
        left:50%;
        margin-left:-250px;
    }
    #onlineCollectMoney_deatil .btn_cent{
        max-width: 500px;
        position:absolute !important;
        left:50%;
        margin-left:-250px;
    }
    #recommend_deatil .btn_cent{
        width: 860px;
        position: absolute;
        left: 50%;
        margin-left: -430px;
    }
    #performance_deatil .btn_cent{
        width: 860px;
        position: absolute;
        left: 50%;
        margin-left: -430px;
    }
    #backFeeding_deatil .btn_cent{
        width: 860px;
        position: absolute;
        left: 50%;
        margin-left: -430px;
    }
    #management_deatil .btn_cent{
        width: 860px;
        position: absolute;
        left: 50%;
        margin-left: -430px;
    }
    #dividends_deatil .btn_cent{
        width: 860px;
        position: absolute;
        left: 50%;
        margin-left: -430px;
    }
    #dividends_deatil .btn_cent{
        width: 860px;
        position: absolute;
        left: 50%;
        margin-left: -430px;
    }
    #cashWallet_deatil .btn_cent,
    #registerLog_deatil .btn_cent,
    #consumptionWallet_deatil .btn_cent,
    #chainWallet_deatil .btn_cent,
    #recharge_deatil .btn_cent,
    #transfer_deatil .btn_cent{
        width: 860px;
        position: absolute;
        left: 50%;
        margin-left: -430px;
    }
}

@media screen and (min-width: 996px) {
    /*.top .nav {*/
    .banner .title {
        width: 720px;
        padding-left: 0;
        padding-right: 0;
    }

    .navcol_s #navbar-example .container {
        width: 720px;
    }

    .content .contentwarp {
        height: 190px;
    }

    .content .contentwarp .contentmiddle {
        margin: 50px 0;
    }

    /*.content .contentwarp .linehr {*/
    /*display: block;*/
    /*}*/
    .content .contentwarp {
        height: 190px;
    }

    .content .contentwarp .contentmiddle .spanwarp {
        padding-bottom: 10px;
        padding-top: 0;
    }

    .content .contenttable .tabletop .tabletop1 {
        display: block;
    }

    /*.content .contenttable .tabletop .tabletop2 .btn {
        margin: 0 15px;
    }*/

    .content .contenttable .tabletop .tabledata {
        padding-top: 0;
        text-align: auto;
    }

    .content .contentwarp .contentmiddle2 {
        margin: 80px 0;
        overflow: hidden;
    }

    .footer .textby {
        padding: 25px 0 0;
    }

    .content .contentwarp .contentmiddle2 .btn {
        margin: 0 10px 0 0;
        width: auto;
    }
    .search .search_button {
        width: 124px;
}
}

@media screen and (min-width: 1200px) {
    .nav {
        position: relative;
    }

    .banner .title {
        width: 990px;
        padding-left: 0;
        padding-right: 0;
    }

    /*.top .nav {*/
    .navcol_s #navbar-example .container {
        width: 990px;
    }

    .main .slider {
        height: 596px;
        padding: 0;
    }

    .content .contentwarp .linehr {
        display: block;
    }

    .content .contentwarp .contentmiddle {
        margin: 70px 0;
    }

    .content .contentwarp .contentmiddle .spanwarp {
    }

    .content .contentwarp .contentmiddle2 {
        margin: 80px 0;
        overflow: hidden;
    }

    .content .contenttable .tabletop .tabletop1 {
        display: block;
    }

    /*.content .contenttable .tabletop .tabletop2 .btn {
        margin: 0 15px;
    }*/

    .content .contenttable .tabletop .tabledata {
        padding-top: 0;
        text-align: auto;
    }

    .footer .textby {
        padding: 25px 0 0;
    }
}
@media screen and (max-width: 992px){
    .inline_block div.spanwarp{
        display: inline-block;
    }
    .search{
        margin-bottom: 20px;
    }
    .mobile_search .button-group{
        display: none;
    }
    .mobile_no_button{
        display: block;
    }
}
@media screen and (max-width: 768px){
    .tabletop2_mobile{
        display: block;
    }
    .search span{
        display: none;
    }
    .search .search_button{
        width: 99%;
    }
    .search .source{
        width: 99%;
    }
    .search input{
        width: 49%;
        margin-bottom: 20px;
    }
}