#choose_dialog{
    z-index: 1049;
}
#choose_dialog{
    /*position: fixed;*/
    top: 50%;
    -webkit-transform: translateY(-123px);
        -ms-transform: translateY(-123px);
            transform: translateY(-123px);
}
#termsOfService{
    z-index: 1060;
    top: 50%;
    margin-top: -123px;
}
.choose_btn_left{
    width: auto;
    margin-top: 0;
}
.choose_btn_right{
    width: auto;
    margin-top: 0;
}
#performance_detail .table-bordered > tbody > tr > th{
    text-align: center;
}
.user_info span{
    color: #36ceb9;
}
#performance_detail .table-bordered {
    overflow: hidden;
    border-radius: 20px;
    border-spacing: 0px;
    border: none;
    -webkit-box-shadow: inset 0 0 0 1px #a4eae0;
    box-shadow: inset 0 0 0 1px #a4eae0;
    border-collapse: separate;
}
@media screen and (min-width: 768px) {
    .choose_btn_left{
        padding: 0 50px;
        width: auto;
        margin-top: 0;
    }
    .choose_btn_right{
        padding: 0 43px;
        width: auto;
        margin-top: 0;
    }
}